<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

html {
  background: var(--azulfondo);
  --azulsombra: #60a2c5;
  --azulclaro: #c0f2f7;
  --azulfondo: #9cced3;
  --azuloscuro: #163d70;
  --verdecolibri: #4ccb92;
  --azulcajetin: #ebffff;
  --botonespeligrosos: #cbfd55;
}
#app {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--azuloscuro);
}
ul {
  list-style: none;
}

button {
  color: white;
  background: var(--azuloscuro);
  border: none;
  font-weight: bold;
  margin: 1rem 1rem;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--azuloscuro);
  font-weight: 600;
}
input {
  border: 2px solid var(--verdecolibri);
  background: var(--azulcajetin);
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
}

select {
  border: 2px solid var(--verdecolibri);
  background: var(--azulcajetin);
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
form input {
  margin: 1rem 0.5rem;
  font-size: 1rem;
}
fieldset {
  display: flex;
  flex-direction: column;
}
h2 {
  margin: 0 auto 3rem;
  text-shadow: 1px -1px 5px white;
}
h3 {
  text-shadow: 1px -1px 5px white;
}
</style>
