<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="About" description="Pagina de about" />
    <div class="about">
      <!-- Usamos menú personalizado importado -->
      <menucustom></menucustom>
      <!-- Cuerpo principal de la página -->
      <h2 id="titulo">Sobre mí</h2>
      <p>Proyecto final Bootcamp Full Stack Hack a Boss</p>
      <p>Planificador de vuelos</p>
      <p>
        Realizado por
        <a class="nombre" href="https://www.linkedin.com/in/felixvillardiaz">
          <h3>Félix Villar</h3>
        </a>
      </p>
      <img src="../assets/creador.jpg" alt="Foto del creador del proyecto" />
      <p>
        Proyecto realizado utilizando las tecnologías
        <a href="https://nodejs.org/es/">NodeJS</a>,
        <a href="https://www.npmjs.com/package/express">Express</a>,
        <a href="https://vuejs.org/">VueJS</a>,
        <a href="https://developer.mozilla.org/es/docs/HTML/HTML5">HTML5</a> ,
        <a href="https://developer.mozilla.org/es/docs/Web/CSS">CSS3</a>, y las librerias
        <a href="https://www.npmjs.com/package/axios">Axios</a>,
        <a href="https://sweetalert2.github.io/">Sweetalert2</a> y
        <a href="https://www.npmjs.com/package/vue-headful">Vue-headful</a>
      </p>
      <p>
        Encuentra más información sobre mí en mi
        <a
          class="nombre"
          href="https://www.linkedin.com/in/felixvillardiaz"
        >perfil de Linkedin</a>
      </p>
    </div>
    <!-- Usamos footer importado personalizado -->
    <footercustom></footercustom>
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "About",
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
.about {
  min-height: 90vh;
}
#titulo {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}
.nombre {
  font-style: italic;
}
a {
  font-size: 1.2rem;
}
img {
  max-width: 200px;
  max-height: 200px;
}
</style>
