<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Error" description="Pagina de error" />
    <div class="error">
      <!-- USAMOS MENU PERSONALIZADO -->
      <menucustom></menucustom>
      <!-- CUERPO DE LA VISTA DE ERROR -->
      <img src="../assets/logo_meuvoo.png" alt="Imagen logo" id="logo" />
      <h1>ERROR 404</h1>
      <h3>
        Nos encanta que vueles con nosotros,
        <br />pero esta ruta no la tenemos ;-)
      </h3>
    </div>
    <!-- MOSTRAMOS FOOTER PERSONALIZADO -->
    <footercustom></footercustom>
  </div>
</template>

<script>
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
export default {
  name: "Error",
  components: {
    menucustom,
    footercustom
  }
};
</script>

<style scoped>
.error {
  min-height: 90vh;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-weight: 400;
  font-size: 2rem;
}
</style>