<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Home" description="Pagina de Inicio" />
    <div class="Home">
      <!-- USAMOS MENU PERSONALIZADO -->
      <menucustom id="menu"></menucustom>
      <!-- MOSTRAMOS LOGO COMO PRESENTACION DE LA VISTA -->
      <img
        v-show="!seeResults && !seeReservation && !seeConfirmReservations"
        src="../assets/logo_meuvoo.png"
        alt="Imagen logo"
        id="logo"
      />
      <!-- Contenedor para formulario de busqueda de vuelos -->
      <div class="buscador" v-show="!seeResults && !seeReservation && !seeConfirmReservations">
        <!-- MOSTRAMOS TITULO PRINCIPAL -->
        <h2 id="tituloprincipal">
          Elige tus vuelos,
          <br />descubre tus sueños
        </h2>
        <!-- FORMULARIO PRINCIPAL DE BUSQUEDA DE VUELOS CON FILTROS DE DURACION, ESCALAS Y PRECIO -->
        <form>
          <section class="datos">
            <section class="ciudades">
              <section>
                <select name="origen" id="origen" v-model="origen">
                  <option value>Ciudad origen</option>
                  <option
                    v-for="ciudad in listaCiudades"
                    :key="ciudad.id"
                    :value="ciudad.ciudad"
                  >{{ciudad.ciudad}}</option>
                </select>
              </section>

              <section>
                <select name="destino" id="destino" v-model="destino">
                  <option value>Ciudad destino</option>
                  <option
                    v-for="ciudad in listaCiudades"
                    :key="ciudad.id"
                    :value="ciudad.ciudad"
                  >{{ciudad.ciudad}}</option>
                </select>
              </section>
            </section>
            <section class="fechas">
              <section class="fechaida">
                <label for="ida" name="ida">Ida</label>
                <input
                  type="date"
                  name="ida"
                  id="ida"
                  placeholder="fecha_ida"
                  v-model="fecha_salida"
                  required
                />
              </section>
              <section class="fechavuelta">
                <label for="vuelta" name="vuelta">Vuelta</label>
                <input
                  type="date"
                  name="vuelta"
                  id="vuelta"
                  placeholder="fecha_vuelta"
                  v-model="fecha_vuelta"
                />
              </section>
            </section>
            <section class="filtros">
              <label for="duracion" name="duracion"></label>
              <input
                type="text"
                name="duracion"
                id="duracion"
                placeholder="duracion"
                v-model="duracion"
              />

              <label for="escalas" name="escalas"></label>
              <input
                type="text"
                name="escalas"
                id="escalas"
                placeholder="escalas"
                v-model="numero_escalas"
              />

              <label for="precio_minimo" name="precio_minimo"></label>
              <input
                type="text"
                name="precio_minimo"
                id="precio_minimo"
                placeholder="precio_minimo"
                v-model="precio_min"
              />

              <label for="precio_maximo" name="precio_maximo"></label>
              <input
                type="text"
                name="precio_maximo"
                id="precio_maximo"
                placeholder="precio_maximo"
                v-model="precio_max"
              />
            </section>
          </section>
        </form>
        <button id="botonbuscar" @click="searchFlights()">Buscar</button>
      </div>
      <!-- FILTROS PARA LAS VISTAS DE RESULTADOS DE BUSQUEDA DE VUELOS DE IDA Y VUELTA-->
      <div id="listavuelos">
        <div class="filtrosIV" v-show="seeResults && !seeReservation && !seeConfirmReservations">
          <h3 v-show="seeResults && seeIdaVuelta && !seeReservation">FILTROS</h3>
          <h3 v-show="seeResults && !seeIdaVuelta && !seeReservation">FILTROS</h3>
          <div class="inputsIV">
            <label for="filtroduracion" name="filtroduracion">Duracion maxima</label>
            <input
              type="text"
              name="filtroduracion"
              id="filtroduracion"
              placeholder="En horas"
              v-model="filtroDuracion"
            />

            <label for="filtroescalas" name="filtroescalas">Escalas</label>
            <input
              type="text"
              name="filtroescalas"
              id="filtroescalas"
              placeholder="No mas de..."
              v-model="filtroEscalas"
            />

            <label for="filtropreciomax" name="filtropreciomax">Precio maximo</label>
            <input
              type="text"
              name="filtropreciomax"
              id="filtropreciomax"
              placeholder="En euros"
              v-model="filtroPrecioMax"
            />
          </div>
          <button
            @click="reSearchFlightsIda()"
            v-show="seeResults && seeIdaVuelta && !seeReservation"
          >Actualizar</button>

          <button
            @click="reSearchFlightsVuelta()"
            v-show="seeResults && !seeIdaVuelta && !seeReservation"
          >Actualizar</button>
        </div>
        <!-- USAMOS COMPONENTE CON RESULTADOS DE LA BUSQUEDA DE VUELOS -->
        <flightslist
          id="listado"
          :seeIdaVuelta="seeIdaVuelta"
          :vuelosIda="vuelosIda"
          :vuelosVuelta="vuelosVuelta"
          v-on:back="backSearch"
          v-on:changeData="showIdaVuelta"
          v-on:reservar="reservation"
          v-show="seeResults && !seeReservation && !seeConfirmReservations"
        ></flightslist>
      </div>
      <!-- USAMOS COMPONENTE DE RESERVA DE VUELOS -->
      <flightreservation
        class="reservas"
        :usuario="usuario"
        :vuelosReservados="vuelosReservados"
        v-on:volveralista="backToFlightList"
        v-on:cancelar="cancelReservation"
        v-on:confirmacionreserva="updateDataUser"
        v-show="seeReservation && !seeConfirmReservations"
      ></flightreservation>
      <!-- USAMOS COMPONENTE DE CONFIRMACION DE RESERVA DE VUELOS -->
      <confirmreservations
        :codigosReservasVuelos="codigosReservasVuelos"
        v-on:final="resetAll"
        v-show="seeConfirmReservations"
      ></confirmreservations>

      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import flightslist from "@/components/FlightsList.vue";
import flightreservation from "@/components/FlightReservation.vue";
import confirmreservations from "@/components/ConfirmReservations.vue";
import {
  getFromToken,
  getAuthToken,
  ENDPOINT,
  asignRandomSeat
} from "../helpers/helpers";

export default {
  name: "Home",
  components: {
    menucustom,
    footercustom,
    flightslist,
    flightreservation,
    confirmreservations
  },
  data() {
    return {
      listaCiudades: [],
      origen: "",
      destino: "",
      fecha_salida: "",
      fecha_vuelta: "",
      duracion: "",
      numero_escalas: "",
      precio_min: "",
      precio_max: "",
      vuelosIda: [],
      vuelosVuelta: [],
      seeResults: false,
      correctData: false,
      seeIdaVuelta: true,
      filtroDuracion: "",
      filtroEscalas: "",
      filtroPrecioMax: "",
      seeReservation: false,
      usuario: {},
      vuelosReservados: [],
      codigosReservasVuelos: [],
      seeConfirmReservations: false
    };
  },
  methods: {
    /* OBTENEMOS LAS CIUDADES PRESENTES EN NUESTRA BASE DE DATOS PARA MOSTRAR EN SELECT ORIGEN Y DESTINO */
    getAirportsCities() {
      const self = this;
      axios
        .get(`${ENDPOINT}/airports/cities`)
        .then(function(response) {
          self.listaCiudades = response.data.data;
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* VOLVEMOS AL BUSCADOR INICIAL DESDE LA LISTA DE VUELOS BUSCADOS*/
    backSearch() {
      this.emptyFieldsSearch();
      this.vuelosReservados = [];
      this.seeResults = false;
      this.seeIdaVuelta = true;
    },
    /* INTERCAMBIAR VISTA ENTRE VUELOS DE IDA Y VUELOS DE VUELTA */
    showIdaVuelta() {
      this.seeIdaVuelta = !this.seeIdaVuelta;
    },
    /* VALIDAMOS DATOS Y FECHAS DE BUSQUEDA */
    validateSearchData() {
      if (
        this.origen === "" ||
        this.destino === "" ||
        this.fecha_salida === "" ||
        Date.parse(this.fecha_salida) < Date.now() - 86400000
      ) {
        this.correctData = false;
      } else {
        if (!!this.fecha_vuelta) {
          if (Date.parse(this.fecha_salida) <= Date.parse(this.fecha_vuelta)) {
            this.correctData = true;
          } else {
            this.correctData = false;
          }
        } else {
          this.correctData = true;
        }
      }
    },
    /* BUSCAMOS VUELOS  */
    searchFlights() {
      const self = this;
      self.validateSearchData();
      const token = getAuthToken();
      if (self.correctData) {
        axios
          .get(`${ENDPOINT}/flights/all?${self.axiosParams}`, {
            headers: {
              authorization: `Bearer ${token}`
            }
          })
          .then(function(response) {
            self.vuelosIda = response.data.data.ida;
            self.vuelosVuelta = response.data.data.vuelta;
            self.vuelosIda = self.vuelosIda.map(vuelo => {
              vuelo.asiento = asignRandomSeat();
              return vuelo;
            });
            if (!!self.vuelosVuelta) {
              self.vuelosVuelta = self.vuelosVuelta.map(vuelo => {
                vuelo.asiento = asignRandomSeat();
                return vuelo;
              });
            }
            self.seeResults = "true";
          })
          .catch(function(error) {
            Swal.fire({
              title: "ERROR",
              text: error.response.data.message,
              confirmButtonColor: "var(--azuloscuro)",
              confirmButtonText: "ACEPTAR"
            });
            self.emptyFieldsSearch();
          });
      } else {
        if (
          self.origen === "" ||
          self.destino === "" ||
          self.fecha_salida === ""
        ) {
          Swal.fire({
            title: "FALTAN DATOS",
            text: "Completa los campos de origen, destino y fecha salida",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        } else if (Date.parse(this.fecha_salida) < Date.now() - 86400000) {
          Swal.fire({
            title: "FECHA SALIDA INCORRECTA",
            text: "La fecha de salida seleccionada es anterior al dia de hoy",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        } else {
          Swal.fire({
            title: "FECHA VUELTA INCORRECTA",
            text: "La fecha de vuelta es anterior a la de ida",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        }
      }
    },
    /* VACIAMOS CAMPOS DE BUSQUEDA */
    emptyFieldsSearch() {
      this.origen = "";
      this.destino = "";
      this.fecha_salida = "";
      this.fecha_vuelta = "";
      this.duracion = "";
      this.numero_escalas = "";
      this.precio_min = "";
      this.precio_max = "";
    },
    /* BUSCAMOS VUELOS IDA CON DATOS DE LOS FILTROS */
    reSearchFlightsIda() {
      const self = this;
      self.asignFilterToSearch();
      const token = getAuthToken();
      axios
        .get(`${ENDPOINT}/flights/all?${self.axiosParamsReSearchIda}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.vuelosIda = response.data.data.ida;
          self.vuelosIda = self.vuelosIda.map(vuelo => {
            vuelo.asiento = asignRandomSeat();
            return vuelo;
          });
          self.emptyFieldsFilter();
        })
        .catch(function(error) {
          self.emptyFieldsFilter();
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* BUSCAMOS VUELOS IDA CON DATOS DE LOS FILTROS */
    reSearchFlightsVuelta() {
      const self = this;
      self.asignFilterToSearch();
      const token = getAuthToken();
      axios
        .get(`${ENDPOINT}/flights/all?${self.axiosParamsReSearchVuelta}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.vuelosVuelta = response.data.data.ida;
          self.vuelosVuelta = self.vuelosVuelta.map(vuelo => {
            vuelo.asiento = asignRandomSeat();
            return vuelo;
          });
          self.emptyFieldsFilter();
        })
        .catch(function(error) {
          self.emptyFieldsFilter();
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* RECOGEMOS LOS DATOS DE LOS CAMPOS DE FILTROS */
    asignFilterToSearch() {
      this.duracion = this.filtroDuracion;
      this.numero_escalas = this.filtroEscalas;
      this.precio_max = this.filtroPrecioMax;
    },
    /* VACIAMOS CAMPOS DE FILTROS */
    emptyFieldsFilter() {
      this.filtroDuracion = "";
      this.filtroEscalas = "";
      this.filtroPrecioMax = "";
    },
    /* RECOGEMOS INFORMACION DEL USUARIO PARA CONFIRMAR SUS DATOS EN LA RESERVA */
    getUser() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .get(`${ENDPOINT}/users/all/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.usuario = response.data.data;
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(result => {
            if (result.value) {
              self.cancelReservation();
            }
          });
        });
    },
    /* CARGAMOS DATOS PARA MOSTRAR LA PANTALLA DE RESERVAS */
    reservation(reservas) {
      this.getUser();
      this.vuelosReservados = reservas;
      this.seeReservation = true;
    },
    /* CANCELAMOS EL PROCESO DE RESERVA Y VOLVEMOS AL BUSCADOR INICIAL */
    cancelReservation() {
      this.seeResults = false;
      this.seeReservation = false;
      this.seeConfirmReservations = false;
      this.vuelosReservados = [];
      this.emptyFieldsSearch();
    },
    /* SALIMOS DE LA PANTALLA DE RESERVAS A LA LISTA DE VUELOS */
    backToFlightList() {
      this.seeReservation = false;
    },
    /* CONFIGURAMOS LOS DATOS QUE ENVIAREMOS PARA ACTUALIZAR DATOS DEL PASAJERO */
    buildFormData() {
      let formData = new FormData();
      formData.append("nombre", this.usuario.nombre);
      formData.append("apellido_1", this.usuario.apellido_1);
      formData.append("apellido_2", this.usuario.apellido_2);
      formData.append("tipo_identificacion", this.usuario.tipo_identificacion);
      formData.append(
        "numero_identificacion",
        this.usuario.numero_identificacion
      );
      formData.append("direccion", this.usuario.direccion);
      formData.append("codigo_postal", this.usuario.codigo_postal);
      formData.append("ciudad", this.usuario.ciudad);
      formData.append("provincia", this.usuario.provincia);
      formData.append("pais", this.usuario.pais);
      formData.append("fecha_nacimiento", this.usuario.fecha_nacimiento);
      formData.append("telefono", this.usuario.telefono);
      return formData;
    },
    /* VALIDAMOS QUE HAYA ASIENTO ASIGNADO EN CADA VUELO */
    validateSeats() {
      let validate = true;
      for (const vuelo of this.vuelosReservados) {
        if (!!!vuelo.asiento) {
          validate = false;
        }
      }
      return validate;
    },
    /* ACTUALIZAMOS DATOS DEL VIAJERO ANTES DE CONFIRMAR LA RESERVA */
    updateDataUser() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      const body = self.buildFormData();
      if (self.validateSeats()) {
        axios
          .put(`${ENDPOINT}/users/${id}`, body, {
            headers: {
              authorization: `Bearer ${token}`
            }
          })
          .then(function(response) {
            Swal.fire({
              title: "PASAJERO ACTUALIZADO",
              text: "Datos de pasajero guardados correctamente",
              confirmButtonColor: "var(--azuloscuro)",
              confirmButtonText: "ACEPTAR"
            }).then(result => {
              if (result.value) {
                self.confirmReservation();
              }
            });
          })
          .catch(function(error) {
            Swal.fire({
              title: "ERROR",
              text: error.response.data.message,
              confirmButtonColor: "var(--azuloscuro)",
              confirmButtonText: "ACEPTAR"
            });
          });
      } else {
        Swal.fire({
          title: "ERROR EN RESERVA",
          text: "No has seleccionado el asiento de algún vuelo",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* EJECUTAMOS LA RESERVA CON LOS DATOS QUE SE MUESTRAN EN PANTALLAS */
    confirmReservation() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      try {
        for (const vuelo of self.vuelosReservados) {
          axios
            .post(
              `${ENDPOINT}/tickets`,
              {
                id_vuelo: vuelo.id_vuelo,
                asiento: vuelo.asiento
              },
              {
                headers: {
                  authorization: `Bearer ${token}`
                }
              }
            )
            .then(function(response) {
              self.codigosReservasVuelos.push(
                response.data.data.codigo_reserva
              );
            })
            .catch(function(error) {
              Swal.fire({
                title: "ERROR",
                text: error.response.data.message,
                confirmButtonColor: "var(--azuloscuro)",
                confirmButtonText: "ACEPTAR"
              });
            });
        }
        self.seeConfirmReservations = true;
      } catch (error) {
        Swal.fire({
          title: "ERROR",
          text: error.response.data.message,
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* VOLVEMOS VARIABLES A ESTADO INICIAL */
    resetAll() {
      this.origen = "";
      this.destino = "";
      this.fecha_salida = "";
      this.fecha_vuelta = "";
      this.duracion = "";
      this.numero_escalas = "";
      this.precio_min = "";
      this.precio_max = "";
      this.vuelosIda = [];
      this.vuelosVuelta = [];
      this.seeResults = false;
      this.correctData = false;
      this.seeIdaVuelta = true;
      this.filtroDuracion = "";
      this.filtroEscalas = "";
      this.filtroPrecioMax = "";
      this.seeReservation = false;
      this.usuario = {};
      this.vuelosReservados = [];
      this.codigosReservasVuelos = [];
      this.seeConfirmReservations = false;
    }
  },
  computed: {
    /* OBTENEMOS DATOS PARA LA BUSQUEDA INICIAL DE VUELOS */
    axiosParams() {
      const params = new URLSearchParams();
      params.append("origen", this.origen);
      params.append("destino", this.destino);
      params.append("fecha_salida", this.fecha_salida);
      params.append("fecha_vuelta", this.fecha_vuelta);
      params.append("duracion", this.duracion);
      params.append("numero_escalas", this.numero_escalas);
      params.append("precio_min", this.precio_min);
      params.append("precio_max", this.precio_max);
      return params;
    },
    /* OBTENEMOS DATOS PARA LAS BUSQUEDAS CON FILTROS DE LOS VUELOS DE IDA */
    axiosParamsReSearchIda() {
      const params = new URLSearchParams();
      params.append("origen", this.origen);
      params.append("destino", this.destino);
      params.append("fecha_salida", this.fecha_salida);
      params.append("duracion", this.duracion);
      params.append("numero_escalas", this.numero_escalas);
      params.append("precio_min", this.precio_min);
      params.append("precio_max", this.precio_max);
      return params;
    },
    /* OBTENEMOS DATOS PARA LAS BUSQUEDAS CON FILTROS DE LOS VUELOS DE VUELTA */
    axiosParamsReSearchVuelta() {
      const params = new URLSearchParams();
      params.append("origen", this.destino);
      params.append("destino", this.origen);
      params.append("fecha_salida", this.fecha_vuelta);
      params.append("duracion", this.duracion);
      params.append("numero_escalas", this.numero_escalas);
      params.append("precio_min", this.precio_min);
      params.append("precio_max", this.precio_max);
      return params;
    }
  },
  created() {
    /* CARGAMOS LA LISTA DE CIUDADES PARA LOS SELECT AL CREAR LA VISTA */
    this.getAirportsCities();
  }
};
</script>

<style scoped>
.Home {
  background-image: url(../assets/FondoHome.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#tituloprincipal {
  font-style: italic;
}
img {
  width: 100px;
  height: 100px;
  align-self: center;
}
input {
  margin: 0.5rem 0.5rem;
}

.filtros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.filtros input {
  width: 40%;
}
h2 {
  margin: 0 auto 0.5rem;
  font-size: 1rem;
}
.fechas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#listavuelos {
  display: flex;
  flex-direction: column;
}
.inputsIV {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.filtrosIV {
  align-self: flex-start;
}
#origen,
#destino {
  min-width: 280px;
}

@media (min-width: 600px) {
  img {
    width: 200px;
    height: 200px;
  }
  h2 {
    margin: 0 auto 3rem;
    font-size: 1.5rem;
  }
  .buscador {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #botonbuscar {
    width: 10%;
    align-self: center;
    margin: 1.5 rem 0 1rem;
  }
  .datos {
    display: flex;
    flex-direction: column;
  }
  .ciudades {
    display: flex;
    flex-direction: column;
  }
  .fechas {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    align-items: baseline;
  }

  .filtros {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .filtros input {
    width: 15%;
  }
  #listavuelos {
    display: grid;
    grid-template-columns: 0.5fr auto 4fr 0.5fr;
  }
  .filtrosIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 2;
  }
  #listado {
    grid-column-start: 3;
  }
  input {
    margin: 1rem 0.5rem;
  }
  #origen,
  #destino {
    width: 500px;
  }
}
</style>
