<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Login" description="Pagina de login" />
    <div class="login">
      <!-- //Mostramos enlaces autorizados del menú -->
      <menucustom></menucustom>
      <!-- //Cargamos imagen del logo -->
      <img src="../assets/logo_meuvoo.png" alt="Logo Meuvoo" />
      <!-- //Creamos contenedor con el formulario de login. Condicionamos su vista
      a un v-show-->

      <div class="formulario" v-show="seeLogin">
        <h2>Accede a tu espacio personal</h2>
        <form>
          <label for="logmail" name="email"></label>
          <input
            type="email"
            name="logmail"
            id="logmail"
            placeholder="correo electronico"
            v-model="email"
          />

          <label for="password" name="password"></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
            v-model="password"
          />
        </form>
        <!-- CREAMOS BOTON DE RECUPERAR CONTRASEÑA -->
        <div>
          <button id="recoverypassbutton" @click="seeLogin=false">Olvidé mi contraseña</button>
        </div>
        <router-link :to="{ name: 'Home' }">Volver</router-link>
        <button id="loginbutton" @click="login">Login</button>
        <!-- CREAMOS ENLACE A REGISTRO -->
        <p>
          Aun no tienes cuenta?
          <router-link id="registerbutton" :to="{ name: 'Register' }">Regístrate</router-link>
        </p>
        <!-- CREAMOS ENLACE A REHABILITAR CUENTA USUARIO -->
        <p>
          Has deshabilitado tu cuenta?
          <button
            id="recoveryuserbutton"
            @click="seeRecoveryUser=true"
          >Vuelve a volar con nosotros</button>
        </p>
      </div>
      <!-- Creamos contenedor con el formulario de recuperar password. Condicionamos su vista
      a un v-show multiple-->
      <div class="newpassword" v-show="!seeLogin && !seeConfirmation">
        <h2>Recibe una nueva contraseña en tu email</h2>
        <form>
          <label for="recmail" name="email"></label>
          <input
            type="email"
            name="recmail"
            id="recmail"
            placeholder="correo electronico"
            v-model="email"
          />

          <label for="confmail" name="confmail"></label>
          <input
            type="email"
            name="confmail"
            id="confmail"
            placeholder="confirma correo electronico"
            v-model="confirmEmail"
          />
        </form>

        <button @click="seeLogin=true">Volver</button>
        <button id="solicitar" @click="recoveryPass">Solicitar</button>
      </div>
      <!-- //Creamos contenedor para confirmacion de nueva contraseña.Condicionamos su vista
      a un v-show-->
      <div class="confirmacion" v-show="seeConfirmation">
        <h2>CONTRASEÑA CAMBIADA</h2>
        <!-- //Prueba de mostrar el mensaje de exito que nos llega desde el back -->
        <p v-html="confirmMessage"></p>
        <router-link id="irainicio" :to="{ name: 'Home' }">Ir a Inicio</router-link>
      </div>
      <section>
        <!-- Creamos modal para rehabilitar cuenta usuario-->
        <div v-show="seeRecoveryUser" class="modal">
          <div class="modalBox">
            <section class="recoveryuser">
              <h3>Identificate y recupera tu cuenta</h3>
              <input
                type="email"
                name="recoveryuseremail"
                id="recoveryuseremail"
                placeholder="Email"
                v-model="recoveryUserEmail"
              />

              <input
                type="password"
                name="recoveryuserpassword"
                id="recoveryuserpassword"
                placeholder="Contraseña"
                v-model="recoveryUserPassword"
              />
            </section>
            <button @click="seeRecoveryUser=false">Cancelar</button>
            <button @click="recoveryUserAccount()">Aceptar</button>
          </div>
        </div>
      </section>
      <!-- //Mostramos footer importado -->
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { loginUser, ENDPOINT } from "../helpers/helpers";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";

export default {
  name: "Login",
  components: {
    menucustom,
    footercustom
  },
  data() {
    return {
      email: "",
      password: "",
      correctData: false,
      seeLogin: true,
      seeConfirmation: false,
      confirmMessage: "",
      confirmEmail: "",
      seeRecoveryUser: false,
      recoveryUserEmail: "",
      recoveryUserPassword: ""
    };
  },
  methods: {
    /* VALIDAMOS DATOS DE LOS CAMPOS DE LOGIN */
    validatingDataLogin() {
      if (this.email === "" || this.password === "") {
        this.correctData = false;
      } else {
        this.correctData = true;
      }
    },
    /* REALIZAMOS LOGIN DEL USUARIO */
    async login() {
      this.validatingDataLogin();
      if (this.correctData === true) {
        try {
          //INTENTO HACE LOGIN
          await loginUser(this.email, this.password);
          //SI HAY LOGIN, QUE ME LLEVE AL HOME
          this.$router.push("/");
        } catch (error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        }
      } else {
        Swal.fire({
          title: "DATOS ERRONEOS",
          text: "Has dejado algún campo en blanco.",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* VALIDAMOS DATOS DE LOS CAMPOS DE RECUPERACION DE CONTRASEÑA */
    validatingDataRecovery() {
      if (this.email === "" || this.confirmEmail === "") {
        this.correctData = false;
      } else {
        this.correctData = true;
      }
    },
    /* FUNCION DE RECUPERACION DE CONTRASEÑA */
    recoveryPass() {
      const self = this;
      self.validatingDataRecovery();
      if (self.correctData === true) {
        if (self.email !== self.confirmEmail) {
          return Swal.fire({
            title: "ERROR",
            text: "Los email no coinciden",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        } else {
          axios
            .put(`${ENDPOINT}/users/recovery`, {
              email: self.email
            })
            .then(function(response) {
              self.seeConfirmation = true;
              self.confirmMessage = response.data.message;
              self.emptyFieldsRecovery();
            })
            .catch(function(error) {
              Swal.fire({
                title: "ERROR",
                text: error.response.data.message,
                confirmButtonColor: "var(--azuloscuro)",
                confirmButtonText: "ACEPTAR"
              });
            });
        }
      } else {
        Swal.fire({
          title: "DATOS ERRONEOS",
          text: "Has dejado algún campo en blanco.",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* VACIAMOS LOS DATOS DE LOS CAMPOS DE RECUPERACION DE CONTRASEÑA */
    emptyFieldsRecovery() {
      this.email = "";
      this.confirmEmail = "";
    },
    /* FUNCION PARA REHABILITAR LA CUENTA DE USUARIO */
    recoveryUserAccount() {
      const self = this;
      axios
        .put(`${ENDPOINT}/users/enable`, {
          email: self.recoveryUserEmail,
          password: self.recoveryUserPassword
        })
        .then(function(response) {
          Swal.fire({
            title: "CUENTA RECUPERADA",
            text: "Bienvenido de nuevo. Logueate para acceder a tu cuenta",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(result => {
            if (result.value) {
              self.seeRecoveryUser = false;
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    }
  }
};
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: scroll;
}
.modalBox {
  background: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
img {
  width: 100px;
  height: 100px;
  align-self: center;
}
h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.5rem;
}
input {
  margin: 0.5rem auto;
}
a {
  font-size: 0.6rem;
}
#recoverypassbutton {
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
}
#recoveryuserbutton {
  margin: 0;
  background: none;
  color: var(--azuloscuro);
  font-size: 1rem;
  font-style: italic;
  border: none;
}
#registerbutton {
  font-style: italic;
  font-size: 1rem;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}
.formulario {
  flex-grow: 2;
}
.newpassword {
  flex-grow: 2;
}
.confirmacion {
  flex-grow: 2;
}
.recoveryuser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  img {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  input {
    margin: 1rem auto;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  button {
    margin: 2rem;
  }
  a {
    font-size: 0.9rem;
  }

  #recoverypassbutton {
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
  }
  #loginbutton {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
  .confirmacion p {
    margin: 3rem auto;
    font-size: 1.3rem;
  }
  #irainicio {
    font-size: 1.5rem;
  }
  #registerbutton {
    font-style: italic;
    font-size: 1.1rem;
  }
}
</style>
