<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Perfil" description="Pagina de datos de perfil" />
    <div class="perfil">
      <!-- USAMOS MENU PERSONALIZADO -->
      <menucustom></menucustom>
      <!-- USAMOS COMPONENTE CABECERA DE PERFIL -->
      <profileheader :usuario="usuario" :fotoUsuario="fotoUsuario" v-show="!isAdmin()"></profileheader>
      <!-- USAMOS COMPONENTE PRINCIPAL DE PERFIL DE USUARIO -->
      <profilebodyuser
        v-show="isUser()"
        :usuario="usuario"
        :fotoUsuario="fotoUsuario"
        :historialVuelosUsuario="historialVuelosUsuario"
        v-on:actualizarDatosPersonales="updateUserData"
        v-on:actualizarPassword="updatePassword"
        v-on:actualizarFoto="updateUserPhoto"
        v-on:historial="getUserHistoryFlights"
        v-on:deshabilitarcuenta="disableUserAccount"
      ></profilebodyuser>
      <!-- USAMOS COMPONENTE PRINCIPAL DE PERFIL DE ADMINISTRADOR -->
      <profilebodyadmin
        v-show="isAdmin()"
        :usuario="usuario"
        :listaUsuarios="listaUsuarios"
        :editedUserFromAdmin="editedUserFromAdmin"
        :searchUser="searchUser"
        :listaAerolineas="listaAerolineas"
        :searchAirline="searchAirline"
        :newAirline="newAirline"
        :editAirline="editAirline"
        :listaAeropuertos="listaAeropuertos"
        :searchAirport="searchAirport"
        :newAirport="newAirport"
        :editAirport="editAirport"
        :listaVuelos="listaVuelos"
        :searchFlight="searchFlight"
        :listaBilletes="listaBilletes"
        :searchTicket="searchTicket"
        v-on:actualizarDatosAdministrador="updateUserData"
        v-on:editarOtroUsuario="getDataOtherUser"
        v-on:actualizarDatosOtroUsuario="updateOtherUserData"
        v-on:eliminarOtroUsuario="deleteOtherUser"
        v-on:deshabilitarOtroUsuario="disableOtherUser"
        v-on:buscarUsuario="getSearchUserData"
        v-on:buscarAerolinea="getSearchAirlineData"
        v-on:crearAerolinea="createNewAirline"
        v-on:editarAerolinea="getAirlineData"
        v-on:actualizarAerolinea="updateAirlineData"
        v-on:deshabilitarAerolinea="disableAirline"
        v-on:habilitarAerolinea="enableAirline"
        v-on:eliminarAerolinea="deleteAirline"
        v-on:buscarAeropuerto="getSearchAirportData"
        v-on:crearAeropuerto="createNewAirport"
        v-on:editarAeropuerto="getAirportData"
        v-on:actualizarAeropuerto="updateAirportData"
        v-on:deshabilitarAeropuerto="disableAirport"
        v-on:habilitarAeropuerto="enableAirport"
        v-on:eliminarAeropuerto="deleteAirport"
        v-on:nuevalistadevuelos="addNewFlightsFromFile"
        v-on:buscarVuelo="getSearchFlightData"
        v-on:buscarBillete="getSearchTicketData"
      ></profilebodyadmin>
      <!-- USAMOS FOOTER PERSONALIZADO -->
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import profileheader from "@/components/ProfileHeader.vue";
import profilebodyuser from "@/components/ProfileBodyUser.vue";
import profilebodyadmin from "@/components/ProfileBodyAdmin.vue";
import {
  getFromToken,
  getAuthToken,
  clearLogin,
  ENDPOINT
} from "../helpers/helpers";
import { newFlightsList } from "../helpers/flightsHelpers";

export default {
  name: "Profile",
  components: {
    menucustom,
    footercustom,
    profileheader,
    profilebodyuser,
    profilebodyadmin
  },
  data() {
    return {
      /* Guardamos todos los datos del perfil */
      usuario: {},
      /* Usamos este campo solo para mostrar la foto de perfil, para no modificar el archivo inicial que nos llega */
      fotoUsuario: "",
      /* Array con los vuelos del usuario */
      historialVuelosUsuario: [],
      /* Array con todos los usuarios */
      listaUsuarios: [],
      /* Datos usuario a modificar por admin */
      editedUserFromAdmin: {},
      /* Datos para busqueda usuario */
      searchUser: {},
      /* Array con lista aerolineas */
      listaAerolineas: [],
      /* Datos para busqueda aerolinea*/
      searchAirline: {},
      /* Datos crear nueva aerolinea */
      newAirline: {},
      /* Datos aerolinea para editar */
      editAirline: {},
      /* Array con lista aeropuertos */
      listaAeropuertos: [],
      /* Datos para busqueda aeropuerto*/
      searchAirport: {},
      /* Datos crear nuevo aeropuerto */
      newAirport: {},
      /* Datos aeropuerto para editar */
      editAirport: {},
      /* Array con lista vuelos */
      listaVuelos: [],
      /* Datos para busqueda vuelo*/
      searchFlight: {},
      /* Array con lista billetes */
      listaBilletes: [],
      /* Datos para busqueda billete*/
      searchTicket: {}
    };
  },
  methods: {
    /* Pedimos los datos del usuario al entrar en el perfil */
    getUserData() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .get(`${ENDPOINT}/users/all/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.usuario = response.data.data;
          /* Establecemos una foto para el perfil o una por defecto y completamos ruta que nos llega del usuario */
          if (!!!self.usuario.foto) {
            self.fotoUsuario = `${ENDPOINT}/uploads/perfilpordefecto.png`;
          } else {
            self.fotoUsuario = `${ENDPOINT}/uploads/${self.usuario.foto}`;
          }
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Funciones para validar v-show dependiendo del rol */
    isUser() {
      return this.usuario.rol === "usuario";
    },
    isAdmin() {
      return this.usuario.rol === "administrador";
    },
    /* Para actualizar datos del propio usuario */
    updateUserData() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      const bodyData = self.buildFormData();
      axios
        .put(`${ENDPOINT}/users/${id}`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Usuario actualizado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.getUserData();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.getUserData();
            }
          });
        });
    },
    /* Para actualizar la contraseña del propio usuario */
    updatePassword(oldPassword, newPassword) {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/users/password/${id}`,
          {
            oldPassword: oldPassword,
            newPassword: newPassword
          },
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "CONTRASEÑA CAMBIADA",
            text:
              "La contraseña ha sido cambiada correctamente.Vuelve a loguearte para iniciar sesion.",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(result => {
            if (result.value) {
              self.goNewLogin();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Funcion para deshabilitar la cuenta de usuario */
    disableUserAccount() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/users/disable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "CUENTA DESHABILITADA",
            text: "Tu cuenta se ha deshabilitado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.goNewLogin();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Nos lleva a login (despues de cambiar contraseña) */
    goNewLogin() {
      this.$router.push("/login");
      clearLogin();
      location.reload();
    },
    /* Construye los campos para la actualizacion de los datos del propio usuario */
    buildFormData(photo) {
      let formData = new FormData();
      if (!!photo) {
        formData.append("foto", photo);
      }
      formData.append("nombre", this.usuario.nombre);
      formData.append("apellido_1", this.usuario.apellido_1);
      formData.append("apellido_2", this.usuario.apellido_2);
      formData.append("tipo_identificacion", this.usuario.tipo_identificacion);
      formData.append(
        "numero_identificacion",
        this.usuario.numero_identificacion
      );
      formData.append("direccion", this.usuario.direccion);
      formData.append("codigo_postal", this.usuario.codigo_postal);
      formData.append("ciudad", this.usuario.ciudad);
      formData.append("provincia", this.usuario.provincia);
      formData.append("pais", this.usuario.pais);
      formData.append("fecha_nacimiento", this.usuario.fecha_nacimiento);
      formData.append("telefono", this.usuario.telefono);
      return formData;
    },
    /* Actualiza la foto del propio  */
    updateUserPhoto(newPhoto) {
      const self = this;
      let formData = self.buildFormData(newPhoto);
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .put(`${ENDPOINT}/users/${id}`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Usuario actualizado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.getUserData();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.getUserData();
            }
          });
        });
    },
    /* Recoge el historial de vuelos del usuario */
    getUserHistoryFlights() {
      const self = this;
      const id = getFromToken("id");
      const token = getAuthToken();
      axios
        .get(`${ENDPOINT}/flights/user/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.historialVuelosUsuario = response.data.data;
        })
        .catch(function(error) {
          if (
            error.response.data.message === "Todavia no has volado con nosotros"
          ) {
            Swal.fire({
              title: "Estamos tristes...",
              text: `${error.response.data.message}. Tu lista está vacia...¿La estrenamos ;)?`,
              confirmButtonColor: "var(--azuloscuro)",
              confirmButtonText: "ACEPTAR"
            });
          } else {
            Swal.fire({
              title: "ERROR",
              text: error.response.data.message,
              confirmButtonColor: "var(--azuloscuro)",
              confirmButtonText: "ACEPTAR"
            });
          }
        });
    },
    /* FUNCIONES PARA EL ADMINISTRADOR */
    /* Guarda los datos del usuario que quiere modificar el Administrador */
    getDataOtherUser(index) {
      this.editedUserFromAdmin = this.listaUsuarios[index];
    },
    /* Construye los campos para la actualizacion de los datos del usuario que quiere modificar el administrador*/
    buildOtherUserFormData(photo) {
      let formData = new FormData();
      if (!!photo) {
        formData.append("foto", photo);
      }
      formData.append("nombre", this.editedUserFromAdmin.nombre);
      formData.append("apellido_1", this.editedUserFromAdmin.apellido_1);
      formData.append("apellido_2", this.editedUserFromAdmin.apellido_2);
      formData.append(
        "tipo_identificacion",
        this.editedUserFromAdmin.tipo_identificacion
      );
      formData.append(
        "numero_identificacion",
        this.editedUserFromAdmin.numero_identificacion
      );
      formData.append("direccion", this.editedUserFromAdmin.direccion);
      formData.append("codigo_postal", this.editedUserFromAdmin.codigo_postal);
      formData.append("ciudad", this.editedUserFromAdmin.ciudad);
      formData.append("provincia", this.editedUserFromAdmin.provincia);
      formData.append("pais", this.editedUserFromAdmin.pais);
      formData.append(
        "fecha_nacimiento",
        this.editedUserFromAdmin.fecha_nacimiento
      );
      formData.append("telefono", this.editedUserFromAdmin.telefono);
      return formData;
    },
    /* Actualiza los datos del usuario que quiere modificar el administrador */
    updateOtherUserData() {
      const self = this;
      const id = self.editedUserFromAdmin.id;
      const token = getAuthToken();
      const bodyData = self.buildOtherUserFormData();
      axios
        .put(`${ENDPOINT}/users/${id}`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Usuario actualizado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Borra un usuario desde el administrador */
    deleteOtherUser(index) {
      const self = this;
      const id = self.listaUsuarios[index].id;
      const token = getAuthToken();
      axios
        .delete(`${ENDPOINT}/users/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Usuario borrado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Deshabilitar un usuario desde el administrador */
    disableOtherUser(index) {
      const self = this;
      const id = self.listaUsuarios[index].id;
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/users/disable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Usuario deshabilitado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* FUNCIONES BUSQUEDA DE USUARIOS */
    /* Construimos los params de la url de busqueda de usuarios */
    buildSearchUserParams() {
      const params = new URLSearchParams();
      if (!!this.searchUser.nombre) {
        params.append("nombre", this.searchUser.nombre);
      }
      if (!!this.searchUser.email) {
        params.append("email", this.searchUser.email);
      }
      if (!!this.searchUser.numero_identificacion) {
        params.append(
          "numero_identificacion",
          this.searchUser.numero_identificacion
        );
      }
      return params;
    },
    /* Vaciamos campos de busqueda de usuarios */
    emptySearchUserData() {
      this.searchUser.nombre = "";
      this.searchUser.email = "";
      this.searchUser.numero_identificacion = "";
    },
    /* Funcion para buscar los usuarios con los datos solicitados */
    getSearchUserData() {
      const self = this;
      const token = getAuthToken();
      const searchParams = self.buildSearchUserParams();
      axios
        .get(`${ENDPOINT}/users?${searchParams}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.listaUsuarios = response.data.data;
          self.emptySearchUserData();
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* FUNCIONES BUSQUEDA DE AEROLINEAS */
    /* Construimos los params de la url de busqueda de aerolineas */
    buildSearchAirlineParams() {
      const params = new URLSearchParams();
      if (!!this.searchAirline.nombre) {
        params.append("nombre", this.searchAirline.nombre);
      }
      if (!!this.searchAirline.codigo) {
        params.append("codigo", this.searchAirline.codigo);
      }
      return params;
    },
    /* Vaciamos campos de busqueda de aerolineas */
    emptySearchAirlineData() {
      this.searchAirline.nombre = "";
      this.searchAirline.codigo = "";
    },
    /* Funcion para buscar las aerolineas con los datos solicitados */
    getSearchAirlineData() {
      const self = this;
      const token = getAuthToken();
      const searchParams = self.buildSearchAirlineParams();
      axios
        .get(`${ENDPOINT}/airlines?${searchParams}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.listaAerolineas = response.data.data;
          self.emptySearchAirlineData();
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Crear nueva aerolinea */
    buildNewAirlineFormData() {
      let formData = new FormData();
      if (!!this.newAirline.nombre) {
        formData.append("nombre", this.newAirline.nombre);
      }
      if (!!this.newAirline.codigo) {
        formData.append("codigo", this.newAirline.codigo);
      }
      if (!!this.newAirline.direccion) {
        formData.append("direccion", this.newAirline.direccion);
      }
      if (!!this.newAirline.codigo_postal) {
        formData.append("codigo_postal", this.newAirline.codigo_postal);
      }
      if (!!this.newAirline.ciudad) {
        formData.append("ciudad", this.newAirline.ciudad);
      }
      if (!!this.newAirline.provincia) {
        formData.append("provincia", this.newAirline.provincia);
      }
      if (!!this.newAirline.pais) {
        formData.append("pais", this.newAirline.pais);
      }
      return formData;
    },
    /* Vaciamos datos de creacion de aerolinea */
    emptyNewAirlineData() {
      this.newAirline.nombre = "";
      this.newAirline.codigo = "";
      this.newAirline.direccion = "";
      this.newAirline.codigo_postal = "";
      this.newAirline.ciudad = "";
      this.newAirline.provincia = "";
      this.newAirline.pais = "";
    },
    /* Funcion para crear nueva aerolinea */
    createNewAirline() {
      const self = this;
      const token = getAuthToken();
      const bodyData = self.buildNewAirlineFormData();
      axios
        .post(`${ENDPOINT}/airlines`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "NUEVA AEROLINEA CREADA",
            text: "La nueva aerolinea ha sido creada con exito",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.emptyNewAirlineData();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Recogemos informacion actual de aerolinea a editar */
    getAirlineData(index) {
      this.editAirline = this.listaAerolineas[index];
    },
    /* Creamos informacion a enviar para la actualizacion de la aerolinea */
    buildEditAirlineFormData() {
      let formData = new FormData();
      formData.append("nombre", this.editAirline.nombre);
      formData.append("codigo", this.editAirline.codigo);
      formData.append("direccion", this.editAirline.direccion);
      formData.append("codigo_postal", this.editAirline.codigo_postal);
      formData.append("ciudad", this.editAirline.ciudad);
      formData.append("provincia", this.editAirline.provincia);
      formData.append("pais", this.editAirline.pais);
      return formData;
    },
    /* Funcion para actualizar aerolinea */
    updateAirlineData() {
      const self = this;
      const id = self.editAirline.id;
      const token = getAuthToken();
      const bodyData = self.buildEditAirlineFormData();
      axios
        .put(`${ENDPOINT}/airlines/${id}`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aerolinea actualizada correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Deshabilitar aerolinea */
    disableAirline(index) {
      const self = this;
      const id = self.listaAerolineas[index].id;
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/airlines/disable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aerolinea deshabilitada correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Habilitar aerolinea*/
    enableAirline(index) {
      const self = this;
      const id = self.listaAerolineas[index].id;
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/airlines/enable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aerolinea habilitada correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Eliminar aerolinea*/
    deleteAirline(index) {
      const self = this;
      const id = self.listaAerolineas[index].id;
      const token = getAuthToken();
      axios
        .delete(`${ENDPOINT}/airlines/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "AEROLINEA BORRADA",
            text: "Aerolinea eliminada correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* FUNCIONES DE AEROPUERTOS */
    /* Construimos los params de la url de busqueda de aeropuertos */
    buildSearchAirportParams() {
      const params = new URLSearchParams();
      if (!!this.searchAirport.nombre) {
        params.append("nombre", this.searchAirport.nombre);
      }
      if (!!this.searchAirport.codigo) {
        params.append("codigo", this.searchAirport.codigo);
      }
      if (!!this.searchAirport.ciudad) {
        params.append("ciudad", this.searchAirport.ciudad);
      }
      if (!!this.searchAirport.pais) {
        params.append("pais", this.searchAirport.pais);
      }
      return params;
    },
    /* Vaciamos los campos de busqueda de aeropuertos */
    emptySearchAirportData() {
      this.searchAirport.nombre = "";
      this.searchAirport.codigo = "";
      this.searchAirport.ciudad = "";
      this.searchAirport.pais = "";
    },
    /* Funcion para buscar aeropuertos con datos de busqueda */
    getSearchAirportData() {
      const self = this;
      const token = getAuthToken();
      const searchParams = self.buildSearchAirportParams();
      axios
        .get(`${ENDPOINT}/airports?${searchParams}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.listaAeropuertos = response.data.data;
          self.emptySearchAirportData();
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Crear nuevo aeropuerto */
    buildNewAirportFormData() {
      let formData = new FormData();
      if (!!this.newAirport.nombre) {
        formData.append("nombre", this.newAirport.nombre);
      }
      if (!!this.newAirport.codigo) {
        formData.append("codigo", this.newAirport.codigo);
      }
      if (!!this.newAirport.direccion) {
        formData.append("direccion", this.newAirport.direccion);
      }
      if (!!this.newAirport.codigo_postal) {
        formData.append("codigo_postal", this.newAirport.codigo_postal);
      }
      if (!!this.newAirport.ciudad) {
        formData.append("ciudad", this.newAirport.ciudad);
      }
      if (!!this.newAirport.provincia) {
        formData.append("provincia", this.newAirport.provincia);
      }
      if (!!this.newAirport.pais) {
        formData.append("pais", this.newAirport.pais);
      }
      return formData;
    },
    /* Vaciamos formulario de nuevo aeropuerto */
    emptyNewAirportData() {
      this.newAirport.nombre = "";
      this.newAirport.codigo = "";
      this.newAirport.direccion = "";
      this.newAirport.codigo_postal = "";
      this.newAirport.ciudad = "";
      this.newAirport.provincia = "";
      this.newAirport.pais = "";
    },
    /* funcion para crear nuevo aeropuerto */
    createNewAirport() {
      const self = this;
      const token = getAuthToken();
      const bodyData = self.buildNewAirportFormData();
      axios
        .post(`${ENDPOINT}/airports`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "NUEVO AEROPUERTO CREADO",
            text: "El nuevo aeropuerto ha sido creado con exito",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          }).then(function(result) {
            if (result.value) {
              self.emptyNewAirportData();
            }
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Obtenemos los datos actuales del aeropuerto a modificar */
    getAirportData(index) {
      this.editAirport = this.listaAeropuertos[index];
    },
    /* Preparamos los datos a enviar para actualzar aeropuerto */
    buildEditAirportFormData() {
      let formData = new FormData();
      formData.append("nombre", this.editAirport.nombre);
      formData.append("codigo", this.editAirport.codigo);
      formData.append("direccion", this.editAirport.direccion);
      formData.append("codigo_postal", this.editAirport.codigo_postal);
      formData.append("ciudad", this.editAirport.ciudad);
      formData.append("provincia", this.editAirport.provincia);
      formData.append("pais", this.editAirport.pais);
      return formData;
    },
    /* funcion para actualizar aeropuerto */
    updateAirportData() {
      const self = this;
      const id = self.editAirport.id;
      const token = getAuthToken();
      const bodyData = self.buildEditAirportFormData();
      axios
        .put(`${ENDPOINT}/airports/${id}`, bodyData, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aeropuerto actualizado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Deshabilitar aeropuerto */
    disableAirport(index) {
      const self = this;
      const id = self.listaAeropuertos[index].id;
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/airports/disable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aeropuerto deshabilitado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Habilitar aeropuerto*/
    enableAirport(index) {
      const self = this;
      const id = self.listaAeropuertos[index].id;
      const token = getAuthToken();
      axios
        .put(
          `${ENDPOINT}/airports/enable/${id}`,
          {},
          {
            headers: {
              authorization: `Bearer ${token}`
            }
          }
        )
        .then(function(response) {
          Swal.fire({
            title: "DATOS ACTUALIZADOS",
            text: "Aeropuerto habilitado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Eliminar aeropuerto*/
    deleteAirport(index) {
      const self = this;
      const id = self.listaAeropuertos[index].id;
      const token = getAuthToken();
      axios
        .delete(`${ENDPOINT}/airports/${id}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          Swal.fire({
            title: "AEROPUERTO BORRADO",
            text: "Aeropuerto eliminado correctamente",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* FUNCIONES DE VUELOS */
    /* Construimos los params de la url de busqueda de vuelos */
    buildSearchFlightParams() {
      const params = new URLSearchParams();
      if (!!this.searchFlight.ciudad_origen) {
        params.append("ciudad_origen", this.searchFlight.ciudad_origen);
      }
      if (!!this.searchFlight.ciudad_destino) {
        params.append("ciudad_destino", this.searchFlight.ciudad_destino);
      }
      if (!!this.searchFlight.fecha_salida) {
        params.append("fecha_salida", this.searchFlight.fecha_salida);
      }
      if (!!this.searchFlight.codigo_vuelo) {
        params.append("codigo_vuelo", this.searchFlight.codigo_vuelo);
      }
      if (!!this.searchFlight.id_aerolinea) {
        params.append("id_aerolinea", this.searchFlight.id_aerolinea);
      }
      if (!!this.searchFlight.codigo_aerolinea) {
        params.append("codigo_aerolinea", this.searchFlight.codigo_aerolinea);
      }
      if (!!this.searchFlight.nombre_aerolinea) {
        params.append("nombre_aerolinea", this.searchFlight.nombre_aerolinea);
      }
      if (!!this.searchFlight.id_aeropuerto_origen) {
        params.append(
          "id_aeropuerto_origen",
          this.searchFlight.id_aeropuerto_origen
        );
      }
      if (!!this.searchFlight.codigo_aeropuerto_origen) {
        params.append(
          "codigo_aeropuerto_origen",
          this.searchFlight.codigo_aeropuerto_origen
        );
      }
      if (!!this.searchFlight.nombre_aeropuerto_origen) {
        params.append(
          "nombre_aeropuerto_origen",
          this.searchFlight.nombre_aeropuerto_origen
        );
      }
      if (!!this.searchFlight.id_aeropuerto_destino) {
        params.append(
          "id_aeropuerto_destino",
          this.searchFlight.id_aeropuerto_destino
        );
      }
      if (!!this.searchFlight.codigo_aeropuerto_destino) {
        params.append(
          "codigo_aeropuerto_destino",
          this.searchFlight.codigo_aeropuerto_destino
        );
      }
      if (!!this.searchFlight.nombre_aeropuerto_destino) {
        params.append(
          "nombre_aeropuerto_destino",
          this.searchFlight.nombre_aeropuerto_destino
        );
      }
      if (!!this.searchFlight.id_usuario) {
        params.append("id_usuario", this.searchFlight.id_usuario);
      }
      if (!!this.searchFlight.email_usuario) {
        params.append("email_usuario", this.searchFlight.email_usuario);
      }
      if (!!this.searchFlight.numero_identificacion_usuario) {
        params.append(
          "numero_identificacion_usuario",
          this.searchFlight.numero_identificacion_usuario
        );
      }
      if (!!this.searchFlight.pais_usuario) {
        params.append("pais_usuario", this.searchFlight.pais_usuario);
      }

      return params;
    },
    /* Vaciamos campos de busqueda de vuelos */
    emptySearchFlightData() {
      this.searchFlight.ciudad_origen = "";
      this.searchFlight.ciudad_destino = "";
      this.searchFlight.fecha_salida = "";
      this.searchFlight.codigo_vuelo = "";
      this.searchFlight.id_aerolinea = "";
      this.searchFlight.codigo_aerolinea = "";
      this.searchFlight.nombre_aerolinea = "";
      this.searchFlight.id_aeropuerto_origen = "";
      this.searchFlight.codigo_aeropuerto_origen = "";
      this.searchFlight.nombre_aeropuerto_origen = "";
      this.searchFlight.id_aeropuerto_destino = "";
      this.searchFlight.codigo_aeropuerto_destino = "";
      this.searchFlight.nombre_aeropuerto_destino = "";
      this.searchFlight.id_usuario = "";
      this.searchFlight.email_usuario = "";
      this.searchFlight.numero_identificacion_usuario = "";
      this.searchFlight.pais_usuario = "";
    },
    /* Funcion para buscar vuelos en funcion de los parametros indicados */
    getSearchFlightData() {
      const self = this;
      const token = getAuthToken();
      const searchParams = self.buildSearchFlightParams();
      axios
        .get(`${ENDPOINT}/flights/byparams?${searchParams}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.listaVuelos = response.data.data;
          self.emptySearchFlightData();
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    },
    /* Funcion para añadir una lista de vuelos desde un archivo interno */
    addNewFlightsFromFile() {
      const self = this;
      const token = getAuthToken();
      for (const vuelo of newFlightsList) {
        try {
          axios
            .post(
              `${ENDPOINT}/flights`,
              {
                codigo: vuelo.codigo,
                codigo_aerolinea: vuelo.codigo_aerolinea,
                codigo_aeropuerto_origen: vuelo.codigo_aeropuerto_origen,
                codigo_aeropuerto_destino: vuelo.codigo_aeropuerto_destino,
                fecha_salida: vuelo.fecha_salida,
                fecha_llegada: vuelo.fecha_llegada,
                hora_salida: vuelo.hora_salida,
                hora_llegada: vuelo.hora_llegada,
                escalas: vuelo.escalas,
                precio: vuelo.precio
              },
              {
                headers: {
                  authorization: `Bearer ${token}`
                }
              }
            )
            .then(function(response) {})
            .catch(function(error) {
              Swal.fire({
                title: "ERROR",
                text: "Archivo de nuevos vuelos dañado o incorrecto",
                confirmButtonColor: "var(--azuloscuro)",
                confirmButtonText: "ACEPTAR"
              });
            });
        } catch (error) {
          Swal.fire({
            title: "ERROR",
            text: "Archivo de nuevos vuelos dañado o incorrecto",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        }
      }
      Swal.fire({
        title: "LISTA VUELOS AÑADIDA",
        text: "los nuevos vuelos han sido incorporados correctamente",
        confirmButtonColor: "var(--azuloscuro)",
        confirmButtonText: "ACEPTAR"
      });
    },

    /* FUNCIONES DE BILLETES */
    /* Construimos los params de la url de busqueda de vuelos */
    buildSearchTicketParams() {
      const params = new URLSearchParams();
      if (!!this.searchTicket.email_usuario) {
        params.append("email_usuario", this.searchTicket.email_usuario);
      }
      if (!!this.searchTicket.id_vuelo) {
        params.append("id_vuelo", this.searchTicket.id_vuelo);
      }
      if (!!this.searchTicket.codigo_vuelo) {
        params.append("codigo_vuelo", this.searchTicket.codigo_vuelo);
      }
      if (!!this.searchTicket.fecha_salida) {
        params.append("fecha_salida", this.searchTicket.fecha_salida);
      }
      return params;
    },
    /* Vaciamos campos de busqueda de billetes */
    emptySearchTicketData() {
      this.searchTicket.email_usuario = "";
      this.searchTicket.id_vuelo = "";
      this.searchTicket.codigo_vuelo = "";
      this.searchTicket.fecha_salida = "";
    },
    /* Funcion para obtener datos de los billetes */
    getSearchTicketData() {
      const self = this;
      const token = getAuthToken();
      const searchParams = self.buildSearchTicketParams();
      axios
        .get(`${ENDPOINT}/tickets/all?${searchParams}`, {
          headers: {
            authorization: `Bearer ${token}`
          }
        })
        .then(function(response) {
          self.listaBilletes = response.data.data;
          self.emptySearchTicketData();
        })
        .catch(function(error) {
          Swal.fire({
            title: "ERROR",
            text: error.response.data.message,
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        });
    }
  },

  created() {
    this.getUserData();
  }
};
</script>

<style scoped></style>