<template>
  <div>
    <!-- Configuramos el nombre que se va a mostrar en la página usando el componente vue-headful -->
    <vue-headful title="Register" description="Pagina de registro" />
    <div class="registro">
      <!-- //Mostramos enlaces autorizados del menú -->
      <menucustom></menucustom>
      <!-- //Cargamos imagen del logo -->
      <img src="../assets/logo_meuvoo.png" alt="Logo Meuvoo" />
      <!-- //Creamos contenedor con el formulario de registro. Condicionamos su vista a un v-show-->
      <div class="formulario" v-show="!seeConfirmation">
        <h2>Bienvenido, estás a un solo paso de crear tu cuenta</h2>
        <form>
          <label for="mail" name="email"></label>
          <input
            type="email"
            name="mail"
            id="mail"
            placeholder="correo electronico"
            v-model="email"
          />

          <label for="password" name="password"></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
            v-model="password"
          />

          <label for="confpassword" name="confpassword"></label>
          <input
            type="password"
            name="confpassword"
            id="confpassword"
            placeholder="confirma tu password"
            v-model="confirmPassword"
          />
        </form>

        <router-link :to="{ name: 'Home' }">Salir</router-link>
        <button id="registrarbutton" @click="addUser">Registrar</button>
      </div>
      <!-- //Creamos contenedor para confirmacion de registro.Condicionamos su vista a un v-show-->

      <div class="confirmacion" v-show="seeConfirmation">
        <h2>BIENVENIDO A MEUVOO</h2>
        <p>
          Te hemos enviado un correo electronico a la cuenta con la que te has
          registado.
        </p>
        <p>
          Sigue las instrucciones de ese correo para validar tu cuenta y poder
          loguearte en Meuvoo
        </p>
        <router-link id="irainicio" :to="{ name: 'Home' }">Ir a Inicio</router-link>
      </div>
      <!-- //Mostramos footer importado -->
      <footercustom></footercustom>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import menucustom from "@/components/MenuCustom.vue";
import footercustom from "@/components/FooterCustom.vue";
import { ENDPOINT } from "../helpers/helpers";

export default {
  name: "Register",
  components: {
    menucustom,
    footercustom
  },
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      correctData: false,
      seeConfirmation: false
    };
  },
  methods: {
    /* Validamos datos de los campos de registro */
    validatingData() {
      if (
        this.email === "" ||
        this.password === "" ||
        this.confirmPassword === ""
      ) {
        this.correctData = false;
      } else {
        this.correctData = true;
      }
    },
    /* Funcion para crear usuario */
    addUser() {
      const self = this;
      self.validatingData();
      if (self.correctData === true) {
        if (self.password !== self.confirmPassword) {
          return Swal.fire({
            title: "ERROR DE CONTRASEÑA",
            text: "Las contraseñas no coinciden",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        } else {
          axios
            .post(`${ENDPOINT}/users`, {
              email: self.email,
              password: self.password
            })
            .then(function(response) {
              self.seeConfirmation = true;
              self.emptyFields();
            })
            .catch(function(error) {
              Swal.fire({
                title: "ERROR",
                text: error.response.data.message,
                confirmButtonColor: "var(--azuloscuro)",
                confirmButtonText: "ACEPTAR"
              });
            });
        }
      } else {
        Swal.fire({
          title: "DATOS ERRONEOS",
          text: "Has dejado algún campo en blanco.",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* Vaciamos campos de registro */
    emptyFields() {
      this.email = "";
      this.password = "";
      this.confirmPassword = "";
    }
  }
};
</script>

<style scoped>
img {
  width: 100px;
  height: 100px;
  align-self: center;
}
.registro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.5rem;
}
input {
  margin: 0.5rem auto;
}
a {
  font-size: 0.6rem;
}
.formulario {
  flex-grow: 2;
}
.confirmacion {
  flex-grow: 2;
}
#irainicio {
  font-size: 1rem;
}
@media (min-width: 500px) {
  img {
    width: 200px;
    height: 200px;
  }
  input {
    margin: 1rem auto;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  #registrarbutton {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
  a {
    font-size: 0.9rem;
  }
  .confirmacion p {
    margin: 3rem auto;
    font-size: 1.3rem;
  }
  #irainicio {
    font-size: 1.5rem;
  }
}
</style>
