<template>
  <div class="confirmacion">
    <h2>Aquí tienes los codigos de tus reservas</h2>
    <section class="numerosreservas">
      <!-- MOSTRAMOS LOS NUMEROS DE RESERVA DE LOS VUELOS -->
      <p
        id="codigosvuelos"
        v-for="(codigo, index) in codigosReservasVuelos"
        :key="codigo.id"
      >Vuelo{{ index +1 }}: {{codigo}}</p>
    </section>
    <p
      id="textoconfirmacion"
    >Te hemos enviado un correo electrónico con los detalles de cada reserva</p>
    <button @click="finalEvent()">Aceptar</button>
  </div>
</template>

<script>
export default {
  name: "confirmreservation",
  props: {
    codigosReservasVuelos: Array
  },
  methods: {
    /* EVENTO QUE FINALIZA EL PROCESO DE COMPRA */
    finalEvent() {
      this.$emit("final");
    }
  }
};
</script>

<style scoped>
.confirmacion {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.5rem;
}
#codigosvuelos {
  font-weight: 600;
}
.numerosreservas {
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

button {
  align-self: center;
}

@media (min-width: 500px) {
  h2 {
    font-size: 1.5rem;
    margin: 3rem auto;
  }
  p {
    font-size: 1.2rem;
    margin: 1rem auto;
  }
  button {
    margin: 1.5rem;
  }
}
</style>