<template>
  <div>
    <div class="reservas">
      <div class="datosvuelo">
        <div id="tituloreservas">
          <h2>Reservas</h2>
        </div>
        <!-- MUESTRA LOS VUELOS RESERVADOS -->
        <div id="vuelos">
          <div v-for="(vueloReservado,index) in vuelosReservados" :key="vueloReservado.id">
            <h3>Vuelo {{index+1}}</h3>
            <p>{{ vueloReservado.ciudad_aeropuerto_origen }}-{{ vueloReservado.ciudad_aeropuerto_destino }}</p>
            <p>{{vueloReservado.fecha_salida}} a las {{vueloReservado.hora_salida}}</p>
            <p>{{vueloReservado.precio}}</p>
            <p>Asiento: {{vueloReservado.asiento}}</p>
          </div>
        </div>
      </div>
      <!-- MUESTRA LOS DATOS DEL USUARIO Y PERMITE EDITARLOS PARA ACTUALIZARLOS -->
      <div class="datospasajero">
        <h2>Datos Pasajero</h2>
        <form class="formulario">
          <section class="datospersonales">
            <label for="nombre" name="nombre">nombre</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="nombre"
              v-model="usuario.nombre"
            />

            <label for="apellido1" name="apellido1">apellido1</label>
            <input
              type="text"
              name="apellido1"
              id="apellido1"
              placeholder="apellido1"
              v-model="usuario.apellido_1"
            />

            <label for="apellido2" name="apellido2">apellido2</label>
            <input
              type="text"
              name="apellido2"
              id="apellido2"
              placeholder="apellido2"
              v-model="usuario.apellido_2"
            />

            <label for="tipoidentificacion" name="tipoidentificacion">Tipo identificacion</label>
            <input
              type="text"
              name="tipoidentificacion"
              id="tipoidentificacion"
              placeholder="tipoidentificacion"
              v-model="usuario.tipo_identificacion"
            />

            <label for="numeroidentificacion" name="numeroidentificacion">Num. identificacion</label>
            <input
              type="text"
              name="numeroidentificacion"
              id="numeroidentificacion"
              placeholder="numeroidentificacion"
              v-model="usuario.numero_identificacion"
            />
          </section>
          <section class="datosdireccion">
            <label for="direccion" name="direccion">direccion</label>
            <input
              type="text"
              name="direccion"
              id="direccion"
              placeholder="direccion"
              v-model="usuario.direccion"
            />

            <label for="codigopostal" name="codigopostal">codigo postal</label>
            <input
              type="text"
              name="codigopostal"
              id="codigopostal"
              placeholder="codigopostal"
              v-model="usuario.codigo_postal"
            />

            <label for="ciudad" name="ciudad">ciudad</label>
            <input
              type="text"
              name="ciudad"
              id="ciudad"
              placeholder="ciudad"
              v-model="usuario.ciudad"
            />

            <label for="provincia" name="provincia">provincia</label>
            <input
              type="text"
              name="provincia"
              id="provincia"
              placeholder="provincia"
              v-model="usuario.provincia"
            />

            <label for="pais" name="pais">pais</label>
            <input type="text" name="pais" id="pais" placeholder="pais" v-model="usuario.pais" />
          </section>
        </form>
      </div>
      <button id="backbutton" @click="backListEvent()">Atras</button>
      <button id="cancelbutton" @click="cancelReservationEvent()">Cancelar</button>
      <button id="confirmationbutton" @click="confirmReservationEvent()">Actualizar Datos y Aceptar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "flightreservation",
  props: {
    usuario: Object,
    vuelosReservados: Array
  },
  methods: {
    /* CANCELA EL PROCESO DE RESERVA */
    cancelReservationEvent() {
      this.$emit("cancelar");
    },
    /* CONFIRMA EL PROCESO DE RESERVA */
    confirmReservationEvent() {
      this.$emit("confirmacionreserva");
    },
    /* CANCELA EL PROCESO DE RESERVA */
    backListEvent() {
      this.$emit("volveralista");
    }
  }
};
</script>

<style scoped>
h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.5rem;
}
.reservas {
  min-height: 70vh;
}
.datosvuelo h2 {
  background: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  margin: 1rem auto 0;
}
.datospasajero h2 {
  padding: 1rem;
}
.datospasajero {
  background: rgba(255, 255, 255, 0.75);
}
.datospersonales {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.datosdireccion {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media (min-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }
  .datosvuelo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  #vuelos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #confirmationbutton {
    font-size: 1.1rem;
  }
  #cancelbutton {
    font-size: 0.9rem;
  }
  #backbutton {
    font-size: 0.9rem;
  }
}
@media (min-width: 680px) {
  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .datospersonales {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: normal;
  }
  .datospersonales label {
    justify-self: right;
  }
  .datosdireccion {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: normal;
  }
  .datosdireccion label {
    justify-self: right;
  }
}
</style>