<template>
  <div class="listavuelos">
    <div class="ida" v-show="seeIdaVuelta">
      <!-- LISTA DE VUELOS DE IDA QUE COINCIDEN CON LA BUSQUEDA -->
      <h2>IDA</h2>
      <ul>
        <li v-for="(vuelo, index) in vuelosIda" :key="vuelo.id">
          <h3>{{vuelo.ciudad_aeropuerto_origen.toUpperCase()}} - {{vuelo.fecha_salida}} / {{vuelo.hora_salida}}</h3>
          <h3>{{vuelo.ciudad_aeropuerto_destino.toUpperCase()}} - {{vuelo.fecha_llegada}} / {{vuelo.hora_llegada}}</h3>
          <p>{{vuelo.nombre_aerolinea}} desde {{vuelo.codigo_aeropuerto_origen}} hasta {{vuelo.codigo_aeropuerto_destino}}</p>
          <p>Tardas {{vuelo.duracion}} y haces {{vuelo.numero_escalas}} escalas</p>
          <p>{{vuelo.precio}} Euros</p>
          <button v-show="isLogged()" @click="addReservationIda(index)">Añadir a reservas</button>
        </li>
      </ul>
    </div>
    <div class="vuelta" v-show="!seeIdaVuelta">
      <!-- LISTA DE VUELOS DE VUELTA QUE COINCIDEN CON LA BUSQUEDA -->
      <h2>VUELTA</h2>
      <ul>
        <li v-for="(vuelo, index) in vuelosVuelta" :key="vuelo.id">
          <h3>{{vuelo.ciudad_aeropuerto_origen.toUpperCase()}} - {{vuelo.fecha_salida}} / {{vuelo.hora_salida}}</h3>
          <h3>{{vuelo.ciudad_aeropuerto_destino.toUpperCase()}} - {{vuelo.fecha_llegada}} / {{vuelo.hora_llegada}}</h3>
          <p>{{vuelo.nombre_aerolinea}} desde {{vuelo.codigo_aeropuerto_origen}} hasta {{vuelo.codigo_aeropuerto_destino}}</p>
          <p>Tardas {{vuelo.duracion}} y haces {{vuelo.numero_escalas}} escalas</p>
          <p>{{vuelo.precio}} Euros</p>
          <button v-show="isLogged()" @click="addReservationVuelta(index)">Añadir a reservas</button>
        </li>
      </ul>
    </div>
    <!-- BOTONES DE OPCIONES EN FUNCION DE PANTALLA -->
    <button @click="backSearchEvent()">Cancelar</button>
    <button @click="changeDataEvent()" v-show="seeIdaVuelta && !!vuelosVuelta">Vuelos vuelta</button>
    <button @click="changeDataEvent()" v-show="!seeIdaVuelta">Vuelos Ida</button>
    <button v-show="isLogged()" @click="reservationEvent()">Ver reservas</button>
  </div>
</template>


<script>
import { isLoggedIn } from "../helpers/helpers";
export default {
  name: "flightslist",
  props: {
    vuelosIda: Array,
    vuelosVuelta: Array,
    seeIdaVuelta: Boolean
  },
  data() {
    return {
      reservas: []
    };
  },
  methods: {
    /* COMPRUEBA SI EL USUARIO ESTÁ LOGUEADO */
    isLogged() {
      return isLoggedIn();
    },
    /* VACIA LISTA DE RESERVAS Y CANCELA PROCESO DE RESERVA */
    backSearchEvent() {
      this.reservas = [];
      this.$emit("back");
    },
    /* CAMBIA LA VISTA DE VUELOS DE IDA A VUELOS DE VUELTA Y VICEVERSA */
    changeDataEvent() {
      this.$emit("changeData");
    },
    /* AÑADE VUELO DE IDA A LA RESERVA Y PASA A MOSTRAR LOS VUELOS DE VUELTA  */
    addReservationIda(index) {
      this.reservas.push(this.vuelosIda[index]);
      if (!!this.vuelosVuelta) {
        this.changeDataEvent();
      } else {
        this.reservationEvent();
      }
    },
    /* AÑADE VUELO DE VUELTA Y PASA A LA PAGINA DE REVISION DE RESERVAS */
    addReservationVuelta(index) {
      this.reservas.push(this.vuelosVuelta[index]);
      this.changeDataEvent();
      this.reservationEvent();
    },
    /* CONFIRMA LAS RESERVAS Y VACIA EL ARRAY DE VUELOS RESERVADOS */
    reservationEvent() {
      this.$emit("reservar", this.reservas);
      this.reservas = [];
    }
  }
};
</script>

<style scoped>
h3 {
  font-style: normal;
  font-weight: 600;
}
li {
  background: rgba(255, 255, 255, 0.75);
}
.listavuelos {
  min-height: 80vh;
}
@media (min-width: 500px) {
}
</style>