<template>
  <div class="footer">
    <p>Félix Villar - Proyecto final BootCamp Hack a Boss - Julio 2020 (c)</p>
    <!-- ENLACE A LA PAGINA DE ABOUT -->
    <router-link :to="{ name: 'About' }">Contacto</router-link>
  </div>
</template>

<script>
export default {
  name: "footercustom"
};
</script>

<style scoped>
.footer {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.2rem;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a {
  margin: 0 2rem;
  font-size: 1.3rem;
  text-shadow: 2px -2px 5px white;
}
</style>
