<template>
  <div>
    <div id="nav">
      <!-- ENLACE A HOME A TRAVES DE LOGO DE LA PÁGINA -->
      <router-link :to="{ name: 'Home' }">
        <img id="logo" src="../assets/logo_meuvoo.png" alt="Imagen logo" />
      </router-link>
      <!-- BOTONES DE USUARIO Y LOGOUT EN FUNCION DE LOGIN Y TIPO USUARIO -->
      <section id="nav2">
        <button id="userbutton" v-show="isLogged() && !isAdmin()" @click="goProfile()">
          <img class="cuenta" src="../assets/micuenta.png" alt="icono mi cuenta" />
          <p>{{ email }}</p>
        </button>
        <button id="userbutton" v-show="isAdmin()" @click="goProfile()">
          <img class="cuenta" src="../assets/micuenta.png" alt="icono mi cuenta" />
          <p>
            {{ email }}
            <br />
            {{ rol }}
          </p>
        </button>
        <button id="logoutbutton" v-show="isLogged()" @click="logoutUser()">Logout</button>
        <router-link v-show="!isLogged()" :to="{ name: 'Login' }">
          <img class="cuenta" src="../assets/micuenta.png" alt="icono mi cuenta" /> Mi Cuenta
        </router-link>
      </section>
    </div>
  </div>
</template>

<script>
/* IMPORTAMOS FUNCIONES AUXILIARES PARA LA GESTION DE ESTADOS DE LOGIN Y USUARIOS */
import { clearLogin, isLoggedIn, getFromToken } from "../helpers/helpers";
export default {
  name: "menucustom",
  data() {
    return {
      rol: "",
      email: ""
    };
  },
  methods: {
    /* FUNCION PARA CERRAR SESION */
    logoutUser() {
      if (this.$router.app._route.fullPath === "/") {
        location.reload();
      } else {
        this.$router.push("/");
      }
      return clearLogin();
    },
    /* COMPROBAMOS SI EL USUARIO ESTÁ LOGUEADO */
    isLogged() {
      return isLoggedIn();
    },
    /* COMPROBAMOS SI EL USUARIO ES ADMINISTRADOR */
    isAdmin() {
      if (getFromToken("rol") === "administrador") {
        return true;
      }
      return false;
    },
    /* RECUPERAMOS EL EMAIL DEL USUARIO DESDE EL TOKEN */
    getEmailUser() {
      this.email = getFromToken("email");
    },
    /* RECUPERAMOS EL ROL DEL USUARIO DESDE EL TOKEN */
    getRoleUser() {
      this.rol = getFromToken("rol");
    },
    /* FUNCION PARA ENVIARNOS A LA VISTA DEL PERFIL */
    goProfile() {
      this.$router.push("/profile");
    }
  },
  created() {
    /* FUNCIONES QUE EJECUTAMOS AUTOMATICAMENTE AL CREAR LA VISTA */
    this.getEmailUser();
    this.getRoleUser();
  }
};
</script>

<style scoped>
#nav {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
#nav2 {
  display: flex;
  align-items: center;
}

#nav a {
  font-weight: bold;
  color: var(--azuloscuro);
  font-size: 0.7rem;
}

#nav a.router-link-exact-active {
  color: var(--azuloscuro);
}
#logo {
  width: 4rem;
  height: 4rem;
}
.cuenta {
  width: 1.5rem;
  height: 1.5rem;
}
#userbutton {
  background: none;
  font-size: 0.65rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white,
    -1px 1px 1px white;
  color: var(--azuloscuro);
  display: flex;
  align-items: baseline;
  margin-right: 0;
}
#logoutbutton {
  font-size: 0.5rem;
  margin-left: 0;
}
@media (min-width: 340px) {
  #userbutton {
    font-size: 0.8rem;
  }
}
@media (min-width: 500px) {
  #nav {
    padding: 0 30px;
  }
  #userbutton {
    font-size: 1.3rem;
    text-shadow: 3px 3px 3px var(--verdecolibri),
      -3px -3px 3px var(--verdecolibri), 3px -3px 3px var(--verdecolibri),
      -3px 3px 3px var(--verdecolibri);
    color: white;
  }
  #logoutbutton {
    font-size: 1rem;
  }
  .cuenta {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 640px) {
  #logo {
    width: 7rem;
    height: 7rem;
  }
  #cuenta {
    width: 3rem;
    height: 3rem;
  }
  #nav a {
    font-size: 1rem;
  }
}
</style>
