<template>
  <div class="bodyadmin">
    <!-- Creamos contenedor para botones iniciales del administrador -->
    <div
      v-show="!seeMisDatos && !seeUsuarios && !seeAerolineas && !seeAeropuertos && !seeVuelos && !seeBilletes"
    >
      <h2 class="titulopantalla">Portal del administrador</h2>
      <div class="botonesadmin">
        <button @click="seeMisDatos=true">Mis datos</button>
        <button @click="changeSeeUsersParameters()">Usuarios</button>
        <button @click="changeSeeAirlinesParameteres()">Aerolineas</button>
        <button @click="changeSeeAirportsParameteres()">Aeropuertos</button>
        <button @click="changeSeeFlightsParameteres()">Vuelos</button>
        <button @click="changeSeeTicketsParameteres()">Billetes</button>
      </div>
    </div>
    <!-- Creamos contenedor para Mis Datos del administrador -->
    <div v-show="seeMisDatos">
      <div class="mostrardatos" v-show="!seeEditar">
        <h2 class="titulopantalla">Mis datos</h2>
        <p>{{usuario.nombre}} {{usuario.apellido_1}} {{usuario.apellido_2}}</p>
        <p>{{usuario.rol}}</p>
        <p>{{usuario.direccion}}, {{usuario.codigo_postal}} {{usuario.ciudad}} - {{usuario.provincia}}, {{usuario.pais}}</p>
        <button @click="seeMisDatos=false">Volver</button>
        <button @click="seeEditar=true">Editar</button>
      </div>
      <!-- Creamos modal para editar datos del administrador -->
      <div class="modal" v-show="seeEditar">
        <div class="modalBox">
          <h2>Editar mis datos</h2>
          <form class="formulariopersonales">
            <section class="nombreidentificacion">
              <label for="nombreadmin" name="nombreadmin">Nombre</label>
              <input
                type="text"
                name="nombreadmin"
                id="nombreadmin"
                placeholder="nombreadmin"
                v-model="usuario.nombre"
              />

              <label for="apellido_1admin" name="apellido_1admin">Apellido 1</label>
              <input
                type="text"
                name="apellido_1admin"
                id="apellido_1admin"
                placeholder="apellido_1admin"
                v-model="usuario.apellido_1"
              />

              <label for="apellido_2admin" name="apellido_2admin">Apellido 2</label>
              <input
                type="text"
                name="apellido_2admin"
                id="apellido_2admin"
                placeholder="apellido_2admin"
                v-model="usuario.apellido_2"
              />

              <label
                for="tipo_identificacionadmin"
                name="tipo_identificacionadmin"
              >Tipo identificacion</label>
              <input
                type="text"
                name="tipo_identificacionadmin"
                id="tipo_identificacionadmin"
                placeholder="tipo_identificacionadmin"
                v-model="usuario.tipo_identificacion"
              />

              <label
                for="numero_identificacionadmin"
                name="numero_identificacionadmin"
              >Num. identificacion</label>
              <input
                type="text"
                name="numero_identificacionadmin"
                id="numero_identificacionadmin"
                placeholder="numero_identificacionadmin"
                v-model="usuario.numero_identificacion"
              />
              <label for="telefonoadmin" name="telefonoadmin">Telefono</label>
              <input
                type="tel"
                name="telefonoadmin"
                id="telefonoadmin"
                placeholder="telefonoadmin"
                v-model="usuario.telefono"
              />
            </section>
            <section class="direccion">
              <label for="direccionadmin" name="direccionadmin">Direccion</label>
              <input
                type="text"
                name="direccionadmin"
                id="direccionadmin"
                placeholder="direccionadmin"
                v-model="usuario.direccion"
              />

              <label for="codigo_postaladmin" name="codigo_postaladmin">Codigo postal</label>
              <input
                type="text"
                name="codigo_postaladmin"
                id="codigo_postaladmin"
                placeholder="codigo_postaladmin"
                v-model="usuario.codigo_postal"
              />

              <label for="ciudadadmin" name="ciudadadmin">Ciudad</label>
              <input
                type="text"
                name="ciudadadmin"
                id="ciudadadmin"
                placeholder="ciudadadmin"
                v-model="usuario.ciudad"
              />

              <label for="provinciaadmin" name="provinciaadmin">Provincia</label>
              <input
                type="text"
                name="provinciaadmin"
                id="provinciaadmin"
                placeholder="provinciaadmin"
                v-model="usuario.provincia"
              />

              <label for="paisadmin" name="paisadmin">Pais</label>
              <input
                type="text"
                name="paisadmin"
                id="paisadmin"
                placeholder="paisadmin"
                v-model="usuario.pais"
              />

              <label for="fecha_nacimientoadmin" name="fecha_nacimientoadmin">Fecha nacimiento*</label>
              <input
                type="date"
                name="fecha_nacimientoadmin"
                id="fecha_nacimientoadmin"
                v-model="usuario.fecha_nacimiento"
              />
            </section>
          </form>
          <button @click="seeEditar=false">Cancelar</button>
          <button @click="updateUserDataEvent()">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!-- Creamos contenedor para Usuarios -->
    <div id="pantallausuarios" v-show="seeUsuarios ">
      <div v-show="!seeEditarOtroUsuario ">
        <!-- Creamos buscador de usuarios -->
        <h2 class="titulopantalla">Buscar usuarios</h2>
        <div id="searchuser">
          <div class="userdatasearch">
            <label for="searchname" name="searchname">Nombre</label>
            <input
              type="text"
              name="searchname"
              id="searchname"
              placeholder="nombre"
              v-model="searchUser.nombre"
            />
          </div>
          <div class="userdatasearch">
            <label for="searchemail" name="searchemail">Email</label>
            <input
              type="text"
              name="searchemail"
              id="searchemail"
              placeholder="email"
              v-model="searchUser.email"
            />
          </div>
          <div class="userdatasearch">
            <label for="searchidentification" name="searchidentification">Identificacion</label>
            <input
              type="text"
              name="searchidentification"
              id="searchidentification"
              placeholder="dni, passport..."
              v-model="searchUser.numero_identificacion"
            />
          </div>
        </div>
        <button class="backbutton" @click="seeUsuarios=false">Atras</button>
        <button class="searchbutton" @click="searchUserEvent()">Buscar</button>
        <button class="searchbutton" @click="searchUserEvent()">Todos</button>
        <!-- Listamos resultados de la busqueda de usuarios -->
        <ul class="resultadobusqueda" v-show="seeResultUserSearch">
          <button @click="seeResultUserSearch=false">Limpiar resultados</button>
          <li v-for="(usuario, index) in listaUsuarios" :key="usuario.id">
            <p>{{usuario.id}} - {{usuario.email}}</p>
            <p>{{usuario.nombre}} {{usuario.apellido_1}} {{usuario.apellido_2}}</p>
            <p>Direccion: {{usuario.direccion}}, {{usuario.codigo_postal}} {{usuario.ciudad}} - {{usuario.provincia}}, {{usuario.pais}}</p>
            <button @click="editOtherUserEvent(index)">Editar</button>
            <button
              class="botonespeligrosos"
              v-show="usuario.activo"
              @click="disableOtherUserEvent(index)"
            >Deshabilitar</button>
            <button
              v-show="usuario.rol!=='administrador'"
              class="botonespeligrosos"
              @click="deleteOtherUserEvent(index)"
            >Eliminar</button>
          </li>
          <button @click="seeUsuarios=false">Atras</button>
        </ul>
      </div>
      <!-- Creamos modal para la edicion de los datos de un usuario -->
      <div class="modal" v-show="seeEditarOtroUsuario">
        <div class="modalBox">
          <h2>Editar datos usuario</h2>
          <form class="formulariopersonales">
            <section class="nombreidentificacion">
              <label for="nombreotrousuario" name="nombreotrousuario">Nombre</label>
              <input
                type="text"
                name="nombreotrousuario"
                id="nombreotrousuario"
                placeholder="nombre"
                v-model="editedUserFromAdmin.nombre"
              />

              <label for="apellido_1otrousuario" name="apellido_1otrousuario">Apellido 1</label>
              <input
                type="text"
                name="apellido_1otrousuario"
                id="apellido_1otrousuario"
                placeholder="apellido_1"
                v-model="editedUserFromAdmin.apellido_1"
              />

              <label
                for="apellido_2otrousuariootrousuario"
                name="apellido_2otrousuariootrousuario"
              >Apellido 2</label>
              <input
                type="text"
                name="apellido_2otrousuariootrousuario"
                id="apellido_2otrousuariootrousuario"
                placeholder="apellido_2"
                v-model="editedUserFromAdmin.apellido_2"
              />

              <label
                for="tipo_identificacionotrousuario"
                name="tipo_identificacionotrousuario"
              >Tipo identificacion</label>
              <input
                type="text"
                name="tipo_identificacionotrousuario"
                id="tipo_identificacionotrousuario"
                placeholder="tipo_identificacio"
                v-model="editedUserFromAdmin.tipo_identificacion"
              />

              <label
                for="numero_identificacionotrousuario"
                name="numero_identificacionotrousuario"
              >Num. identificacion</label>
              <input
                type="text"
                name="numero_identificacionotrousuario"
                id="numero_identificacionotrousuario"
                placeholder="numero_identificacion"
                v-model="editedUserFromAdmin.numero_identificacion"
              />
              <label for="telefonootrousuario" name="telefonootrousuario">Telefono</label>
              <input
                type="tel"
                name="telefonootrousuario"
                id="telefonootrousuario"
                placeholder="telefono"
                v-model="editedUserFromAdmin.telefono"
              />
            </section>
            <section class="direccion">
              <label for="direccionotrousuario" name="direccionotrousuario">Direccion</label>
              <input
                type="text"
                name="direccionotrousuario"
                id="direccionotrousuario"
                placeholder="direccion"
                v-model="editedUserFromAdmin.direccion"
              />

              <label for="codigo_postalotrousuario" name="codigo_postalotrousuario">Codigo postal</label>
              <input
                type="text"
                name="codigo_postal"
                id="codigo_postalotrousuario"
                placeholder="codigo_postal"
                v-model="editedUserFromAdmin.codigo_postal"
              />

              <label for="ciudadotrousuario" name="ciudadotrousuario">Ciudad</label>
              <input
                type="text"
                name="ciudadotrousuario"
                id="ciudadotrousuario"
                placeholder="ciudad"
                v-model="editedUserFromAdmin.ciudad"
              />

              <label for="provinciaotrousuario" name="provinciaotrousuario">Provincia</label>
              <input
                type="text"
                name="provinciaotrousuario"
                id="provinciaotrousuario"
                placeholder="provincia"
                v-model="editedUserFromAdmin.provincia"
              />

              <label for="paisotrousuario" name="paisotrousuario">Pais</label>
              <input
                type="text"
                name="paisotrousuario"
                id="paisotrousuario"
                placeholder="pais"
                v-model="editedUserFromAdmin.pais"
              />

              <label for="fecha_nacimientootrousuario" name="fecha_nacimiento">Fecha nacimiento*</label>
              <input
                type="date"
                name="fecha_nacimientootrousuario"
                id="fecha_nacimientootrousuario"
                v-model="editedUserFromAdmin.fecha_nacimiento"
              />
            </section>
          </form>
          <button @click="seeEditarOtroUsuario=false">Cancelar</button>
          <button @click="updateOtherUserDataEvent()">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <!-- Creamos contenedor para Aerolineas -->
    <div class="pantallaaerea" v-show="seeAerolineas">
      <h2 class="titulopantalla">AEROLINEAS</h2>
      <section class="contenedoraereo">
        <!-- Formulario para crear nueva aerolinea -->
        <section>
          <h2>Crear nueva aerolinea</h2>
          <section class="creadoraereo">
            <label for="newairlinename" name="newairlinename">Nombre*</label>
            <input
              type="text"
              name="newairlinename"
              id="newairlinename"
              placeholder="nombre"
              v-model="newAirline.nombre"
            />
            <label for="newairlinecodigo" name="newairlinecodigo">Codigo aerolinea*</label>
            <input
              type="text"
              name="newairlinecodigo"
              id="newairlinecodigo"
              placeholder="codigo"
              v-model="newAirline.codigo"
            />
            <label for="newairlinedireccion" name="newairlinedireccion">Direccion</label>
            <input
              type="text"
              name="newairlinedireccion"
              id="newairlinedireccion"
              placeholder="direccion"
              v-model="newAirline.direccion"
            />
            <label for="newairlinecodigopostal" name="newairlinecodigopostal">Codigo postal</label>
            <input
              type="text"
              name="newairlinecodigopostal"
              id="newairlinecodigopostal"
              placeholder="codigopostal"
              v-model="newAirline.codigo_postal"
            />
            <label for="newairlineciudad" name="newairlineciudad">Ciudad</label>
            <input
              type="text"
              name="newairlineciudad"
              id="newairlineciudad"
              placeholder="ciudad"
              v-model="newAirline.ciudad"
            />
            <label for="newairlineprovincia" name="newairlineprovincia">Provincia</label>
            <input
              type="text"
              name="newairlineprovincia"
              id="newairlineprovincia"
              placeholder="provincia"
              v-model="newAirline.provincia"
            />
            <label for="newairlinepais" name="newairlinepais">pais*</label>
            <input
              type="text"
              name="newairlinepais"
              id="newairlinepais"
              placeholder="pais"
              v-model="newAirline.pais"
            />
          </section>
          <button @click="seeAerolineas=false">Atras</button>
          <button @click="newAirlineEvent()">Crear</button>
        </section>
        <!-- Creamos buscador aerolineas -->
        <section>
          <h2>Buscar aerolinea</h2>
          <section class="buscadoraereo">
            <label for="searchairlinename" name="searchairlinename">Nombre</label>
            <input
              type="text"
              name="searchairlinename"
              id="searchairlinename"
              placeholder="nombre"
              v-model="searchAirline.nombre"
            />
            <label for="searchairlinecodigo" name="searchairlinecodigo">Codigo</label>
            <input
              type="text"
              name="searchairlinecodigo"
              id="searchairlinecodigo"
              placeholder="codigo"
              v-model="searchAirline.codigo"
            />
          </section>
          <button @click="searchAirlineEvent()">Buscar</button>
          <button @click="searchAirlineEvent()">Todos</button>
        </section>
      </section>
      <!-- Listamos resultado de aerolineas buscadas -->
      <ul class="resultadobusqueda" v-show="seeResultAirlineSearch">
        <button @click="seeResultAirlineSearch=false">Limpiar resultados</button>
        <li v-for="(aerolinea, index) in listaAerolineas" :key="aerolinea.id">
          <p>{{aerolinea.id}} - {{aerolinea.codigo}}</p>
          <p>{{aerolinea.nombre}}</p>
          <p>Direccion: {{aerolinea.direccion}}, {{aerolinea.codigo_postal}} {{aerolinea.ciudad}} - {{aerolinea.provincia}},{{aerolinea.pais}}</p>
          <button @click="editAirlineEvent(index)">Editar</button>
          <button
            class="botonespeligrosos"
            @click="disableAirlineEvent(index)"
            v-show="aerolinea.activo===1"
          >Deshabilitar</button>
          <button @click="enableAirlineEvent(index)" v-show="aerolinea.activo===0">Habilitar</button>
          <button class="botonespeligrosos" @click="deleteAirlineEvent(index)">Eliminar</button>
        </li>
      </ul>
      <!-- Modal para editar aerolinea -->
      <div class="modal" v-show="seeEditarAerolinea">
        <div class="modalBox">
          <h2>Editar aerolinea</h2>
          <form class="formularioaereo">
            <label for="nombreaerolinea" name="nombreaerolinea">Nombre*</label>
            <input
              type="text"
              name="nombreaerolinea"
              id="nombreaerolinea"
              placeholder="nombreaerolinea"
              v-model="editAirline.nombre"
            />

            <label for="codigo_aerolinea" name="codigo_aerolinea">Codigo Aerolinea*</label>
            <input
              type="text"
              name="codigo_aerolinea"
              id="codigo_aerolinea"
              placeholder="codigo aerolinea"
              v-model="editAirline.codigo"
            />

            <label for="direccionaerolinea" name="direccionaerolinea">Direccion</label>
            <input
              type="text"
              name="direccionaerolinea"
              id="direccionaerolinea"
              placeholder="direccionaerolinea"
              v-model="editAirline.direccion"
            />

            <label for="codigo_postalaerolinea" name="codigo_postalaerolinea">Codigo postal</label>
            <input
              type="text"
              name="codigo_postalaerolinea"
              id="codigo_postalaerolinea"
              placeholder="codigo_postalaerolinea"
              v-model="editAirline.codigo_postal"
            />

            <label for="ciudadaerolinea" name="ciudadaerolinea">Ciudad</label>
            <input
              type="text"
              name="ciudadaerolinea"
              id="ciudadaerolinea"
              placeholder="ciudadaerolinea"
              v-model="editAirline.ciudad"
            />

            <label for="provinciaaerolinea" name="provinciaaerolinea">Provincia</label>
            <input
              type="text"
              name="provinciaaerolinea"
              id="provinciaaerolinea"
              placeholder="provinciaaerolinea"
              v-model="editAirline.provincia"
            />

            <label for="paisaerolinea" name="paisaerolinea">Pais*</label>
            <input
              type="text"
              name="paisaerolinea"
              id="paisaerolinea"
              placeholder="paisaerolinea"
              v-model="editAirline.pais"
            />
          </form>
          <button @click="seeEditarAerolinea=false">Cancelar</button>
          <button @click="updateAirlineDataEvent()">Guardar Cambios</button>
        </div>
        <button @click="seeAerolineas=false">Atras</button>
      </div>
    </div>
    <!-- Creamos contenedor para Aeropuertos -->
    <div class="pantallaaerea" v-show="seeAeropuertos">
      <h2 class="titulopantalla">AEROPUERTOS</h2>
      <section class="contenedoraereo">
        <!-- Crear nuevo aeropuerto -->
        <section>
          <h2>Crear nuevo aeropuerto</h2>
          <section class="creadoraereo">
            <label for="newairportname" name="newairportname">Nombre*</label>
            <input
              type="text"
              name="newairportname"
              id="newairportname"
              placeholder="nombre"
              v-model="newAirport.nombre"
            />
            <label for="newairportcodigo" name="newairportcodigo">Codigo aeropuerto*</label>
            <input
              type="text"
              name="newairportcodigo"
              id="newairportcodigo"
              placeholder="codigo"
              v-model="newAirport.codigo"
            />
            <label for="newairportdireccion" name="newairportdireccion">Direccion</label>
            <input
              type="text"
              name="newairportdireccion"
              id="newairportdireccion"
              placeholder="direccion"
              v-model="newAirport.direccion"
            />
            <label for="newairportcodigopostal" name="newairportcodigopostal">Codigo postal</label>
            <input
              type="text"
              name="newairportcodigopostal"
              id="newairportcodigopostal"
              placeholder="codigopostal"
              v-model="newAirport.codigo_postal"
            />
            <label for="newairportciudad" name="newairportciudad">Ciudad*</label>
            <input
              type="text"
              name="newairportciudad"
              id="newairportciudad"
              placeholder="ciudad"
              v-model="newAirport.ciudad"
            />
            <label for="newairportprovincia" name="newairportprovincia">Provincia</label>
            <input
              type="text"
              name="newairportprovincia"
              id="newairportprovincia"
              placeholder="provincia"
              v-model="newAirport.provincia"
            />
            <label for="newairportpais" name="newairportpais">Pais*</label>
            <input
              type="text"
              name="newairportpais"
              id="newairportpais"
              placeholder="pais"
              v-model="newAirport.pais"
            />
          </section>
          <button @click="seeAeropuertos=false">Atras</button>
          <button @click="newAirportEvent()">Crear</button>
        </section>
        <!-- Buscador aeropuertos -->
        <section>
          <h2>Buscar aeropuerto</h2>
          <section class="buscadoraereo">
            <label for="searchairportname" name="searchairportname">Nombre</label>
            <input
              type="text"
              name="searchairportname"
              id="searchairportname"
              placeholder="nombre"
              v-model="searchAirport.nombre"
            />
            <label for="searchairportcodigo" name="searchairportcodigo">Codigo</label>
            <input
              type="text"
              name="searchairportcodigo"
              id="searchairportcodigo"
              placeholder="codigo"
              v-model="searchAirport.codigo"
            />
            <label for="searchairportciudad" name="searchairportciudad">Ciudad</label>
            <input
              type="text"
              name="searchairportciudad"
              id="searchairportciudad"
              placeholder="ciudad"
              v-model="searchAirport.ciudad"
            />
            <label for="searchairportpais" name="searchairportpais">Pais</label>
            <input
              type="text"
              name="searchairportpais"
              id="searchairportpais"
              placeholder="pais"
              v-model="searchAirport.pais"
            />
          </section>
          <button @click="searchAirportEvent()">Buscar</button>
          <button @click="searchAirportEvent()">Todos</button>
        </section>
      </section>
      <!-- Listado de resultados de aeropuertos buscados -->
      <ul class="resultadobusqueda" v-show="seeResultAirportSearch">
        <button @click="seeResultAirportSearch=false">Limpiar resultados</button>
        <li v-for="(aeropuerto, index) in listaAeropuertos" :key="aeropuerto.id">
          <p>{{aeropuerto.id}} - {{aeropuerto.codigo}}</p>
          <p>{{aeropuerto.nombre}}</p>
          <p>Direccion: {{aeropuerto.direccion}}, {{aeropuerto.codigo_postal}} {{aeropuerto.ciudad}} - {{aeropuerto.provincia}},{{aeropuerto.pais}}</p>
          <button @click="editAirportEvent(index)">Editar</button>
          <button
            class="botonespeligrosos"
            @click="disableAirportEvent(index)"
            v-show="aeropuerto.activo===1"
          >Deshabilitar</button>
          <button @click="enableAirportEvent(index)" v-show="aeropuerto.activo===0">Habilitar</button>
          <button class="botonespeligrosos" @click="deleteAirportEvent(index)">Eliminar</button>
        </li>
      </ul>
      <!-- Modal para editar aeropuerto -->
      <div class="modal" v-show="seeEditarAeropuerto">
        <div class="modalBox">
          <h2>Editar aeropuerto</h2>
          <form class="formularioaereo">
            <label for="nombreaeropuerto" name="nombreaeropuerto">Nombre*</label>
            <input
              type="text"
              name="nombreaeropuerto"
              id="nombreaeropuerto"
              placeholder="nombreaeropuerto"
              v-model="editAirport.nombre"
            />

            <label for="codigo_aeropuerto" name="codigo_aeropuerto">Codigo Aeropuerto*</label>
            <input
              type="text"
              name="codigo_aeropuerto"
              id="codigo_aeropuerto"
              placeholder="codigo aeropuerto"
              v-model="editAirport.codigo"
            />

            <label for="direccionaeropuerto" name="direccionaeropuerto">Direccion</label>
            <input
              type="text"
              name="direccionaeropuerto"
              id="direccionaeropuerto"
              placeholder="direccionaeropuerto"
              v-model="editAirport.direccion"
            />

            <label for="codigo_postalaeropuerto" name="codigo_postalaeropuerto">Codigo postal</label>
            <input
              type="text"
              name="codigo_postalaeropuerto"
              id="codigo_postalaeropuerto"
              placeholder="codigo_postalaeropuerto"
              v-model="editAirport.codigo_postal"
            />

            <label for="ciudadaeropuerto" name="ciudadaeropuerto">Ciudad*</label>
            <input
              type="text"
              name="ciudadaeropuerto"
              id="ciudadaeropuerto"
              placeholder="ciudadaeropuerto"
              v-model="editAirport.ciudad"
            />

            <label for="provinciaaeropuerto" name="provinciaaeropuerto">Provincia</label>
            <input
              type="text"
              name="provinciaaeropuerto"
              id="provinciaaeropuerto"
              placeholder="provinciaaeropuerto"
              v-model="editAirport.provincia"
            />

            <label for="paisaeropuerto" name="paisaeropuerto">Pais*</label>
            <input
              type="text"
              name="paisaeropuerto"
              id="paisaeropuerto"
              placeholder="paisaeropuerto"
              v-model="editAirport.pais"
            />
          </form>
          <button @click="seeEditarAeropuerto=false">Cancelar</button>
          <button @click="updateAirportDataEvent()">Guardar Cambios</button>
        </div>
        <button @click="seeAeropuertos=false">Atras</button>
      </div>
    </div>
    <!-- Creamos contenedor para Vuelos -->
    <div class="pantallavuelos" v-show="seeVuelos">
      <!-- Contenedor para formulario de busqueda de vuelos -->
      <h2 class="titulopantalla">VUELOS</h2>
      <button @click="addNewFlightsEvent()">Actualizar listado de vuelos</button>
      <h3>Localizar vuelos por ...</h3>
      <section class="contenedorvuelos">
        <section class="secciondatos">
          <h4>Aerolinea</h4>
          <section class="secciondatossintitulo">
            <label for="idaerolinea" name="idaerolinea">Id aerolinea</label>
            <input
              type="text"
              name="idaerolinea"
              id="idaerolinea"
              placeholder="idaerolinea"
              v-model="searchFlight.id_aerolinea"
            />
            <label for="codigoaerolinea" name="codigoaerolinea">Codigo aerolinea</label>
            <input
              type="text"
              name="codigoaerolinea"
              id="codigoaerolinea"
              placeholder="codigoaerolinea"
              v-model="searchFlight.codigo_aerolinea"
            />
            <label for="nombreaerolinea" name="nombreaerolinea">Nombre aerolinea</label>
            <input
              type="text"
              name="nombreaerolinea"
              id="nombre_aerolinea"
              placeholder="nombreaerolinea"
              v-model="searchFlight.nombre_aerolinea"
            />
          </section>
        </section>
        <section class="secciondatos">
          <h4>Aeropuerto origen</h4>
          <section class="secciondatossintitulo">
            <label for="idaeropuertoorigen" name="idaeropuertoorigen">Id aeropuerto origen</label>
            <input
              type="text"
              name="idaeropuertoorigen"
              id="idaeropuertoorigen"
              placeholder="idaeropuertoorigen"
              v-model="searchFlight.id_aeropuerto_origen"
            />
            <label
              for="codigoaeropuertoorigen"
              name="codigoaeropuertoorigen"
            >Codigo aeropuerto origen</label>
            <input
              type="text"
              name="codigoaeropuertoorigen"
              id="codigoaeropuertoorigen"
              placeholder="codigoaeropuertoorigen"
              v-model="searchFlight.codigo_aeropuerto_origen"
            />
            <label
              for="nombreaeropuertoorigen"
              name="nombreaeropuertoorigen"
            >Nombre aeropuerto origen</label>
            <input
              type="text"
              name="nombreaeropuertoorigen"
              id="nombreaeropuertoorigen"
              placeholder="nombreaeropuertoorigen"
              v-model="searchFlight.nombre_aeropuerto_origen"
            />
          </section>
        </section>
        <section class="secciondatos">
          <h4>Aeropuerto destino</h4>
          <section class="secciondatossintitulo">
            <label for="idaeropuertodestino" name="idaeropuertodestino">Id aeropuerto destino</label>
            <input
              type="text"
              name="idaeropuertodestino"
              id="idaeropuertodestino"
              placeholder="idaeropuertodestino"
              v-model="searchFlight.id_aeropuerto_destino"
            />
            <label
              for="codigoaeropuertodestino"
              name="codigoaeropuertodestino"
            >Codigo aeropuerto destino</label>
            <input
              type="text"
              name="codigoaeropuertodestino"
              id="codigoaeropuertodestino"
              placeholder="codigoaeropuertodestino"
              v-model="searchFlight.codigo_aeropuerto_destino"
            />
            <label
              for="nombreaeropuertodestino"
              name="nombreaeropuertodestino"
            >Nombre aeropuerto destino</label>
            <input
              type="text"
              name="nombreaeropuertodestino"
              id="nombreaeropuertodestino"
              placeholder="nombreaeropuertodestino"
              v-model="searchFlight.nombre_aeropuerto_destino"
            />
          </section>
        </section>
        <section class="secciondatos">
          <h4>Vuelo</h4>
          <section class="secciondatossintitulo">
            <label for="ciudadorigen" name="ciudadorigen">Ciudad origen</label>
            <input
              type="text"
              name="ciudadorigen"
              id="ciudadorigen"
              placeholder="ciudad origen"
              v-model="searchFlight.ciudad_origen"
            />

            <label for="ciudaddestino" name="ciudaddestino">Ciudad destino</label>
            <input
              type="text"
              name="ciudadestino"
              id="ciudaddestino"
              placeholder="ciudad destino"
              v-model="searchFlight.ciudad_destino"
            />

            <label for="codigovuelo" name="codigovuelo">Codigo vuelo</label>
            <input
              type="text"
              name="codigovuelo"
              id="codigovuelo"
              placeholder="codigovuelo"
              v-model="searchFlight.codigo_vuelo"
            />
            <label for="fechasalida" name="fechasalida">Fecha salida</label>
            <input
              type="date"
              name="fechasalida"
              id="fechasalida"
              placeholder="fecha salida"
              v-model="searchFlight.fecha_salida"
            />
          </section>
        </section>
        <section class="secciondatos">
          <h4>Usuario</h4>
          <section class="secciondatossintitulo">
            <label for="idusuario" name="idusuario">Id usuario</label>
            <input
              type="text"
              name="idusuario"
              id="idusuario"
              placeholder="idusuario"
              v-model="searchFlight.id_usuario"
            />
            <label for="emailusuario" name="emailusuario">Email usuario</label>
            <input
              type="text"
              name="emailusuario"
              id="emailusuario"
              placeholder="emailusuario"
              v-model="searchFlight.email_usuario"
            />
            <label
              for="numeroidentificacionusuario"
              name="numeroidentificacionusuario"
            >Numero identificacion usuario</label>
            <input
              type="text"
              name="numeroidentificacionusuario"
              id="numeroidentificacionusuario"
              placeholder="numeroidentificacionusuario"
              v-model="searchFlight.numero_identificacion_usuario"
            />
            <label for="paisusuario" name="paisusuario">Pais usuario</label>
            <input
              type="text"
              name="paisusuario"
              id="paisusuario"
              placeholder="paisusuario"
              v-model="searchFlight.pais_usuario"
            />
          </section>
        </section>
        <section id="botones">
          <button @click="searchFlightEvent()">Buscar</button>
          <button @click="searchFlightEvent()">Todos</button>
          <button @click="seeVuelos=false">Atras</button>
        </section>
      </section>
      <!-- Mostrar resultados de la busqueda de vuelos -->
      <ul class="resultadobusqueda" v-show="seeResultFlightSearch">
        <button v-show="seeResultFlightSearch" @click="seeResultFlightSearch=false">Limpiar busqueda</button>
        <li v-for="(vuelo,index) in listaVuelos" :key="vuelo.id">
          <p>{{vuelo.codigo_vuelo}}</p>
          <p>{{vuelo.ciudad_aeropuerto_origen}} - {{vuelo.ciudad_aeropuerto_destino}}</p>
          <p>{{vuelo.fecha_salida}}, {{vuelo.hora_salida}}</p>
          <button @click="showFlightDetails(index)">Detalles</button>
        </li>
        <button @click="seeVuelos=false">Atras</button>
      </ul>

      <!-- Modal para detalles vuelos -->
      <div class="modal" v-show="seeFlightDetails">
        <div class="modalBox">
          <h2>Detalles del vuelo</h2>
          <section class="detailcategory">
            <h3>Datos aerolinea</h3>
            <p>Id:{{detailFlightData.id_aerolinea}}</p>
            <p>Codigo:{{detailFlightData.codigo_aerolinea}}</p>
            <p>Nombre:{{detailFlightData.nombre_aerolinea}}</p>
          </section>
          <section class="detailcategory">
            <h3>Datos origen</h3>
            <p>Id:{{detailFlightData.id_aeropuerto_origen}}</p>
            <p>Codigo:{{detailFlightData.codigo_aeropuerto_origen}}</p>
            <p>Nombre:{{detailFlightData.nombre_aeropuerto_origen}}</p>
            <p>Ciudad:{{detailFlightData.ciudad_aeropuerto_origen}}</p>
            <p>Pais:{{detailFlightData.pais_aeropuerto_origen}}</p>
          </section>
          <section class="detailcategory">
            <h3>Datos destino</h3>
            <p>Id:{{detailFlightData.id_aeropuerto_destino}}</p>
            <p>Codigo:{{detailFlightData.codigo_aeropuerto_destino}}</p>
            <p>Nombre:{{detailFlightData.nombre_aeropuerto_destino}}</p>
            <p>Ciudad:{{detailFlightData.ciudad_aeropuerto_destino}}</p>
            <p>Pais:{{detailFlightData.pais_aeropuerto_destino}}</p>
          </section>
          <section class="detailcategory">
            <h3>Vuelo</h3>
            <p>Id:{{detailFlightData.id_vuelo}}</p>
            <p>Codigo:{{detailFlightData.codigo_vuelo}}</p>
            <p>Salida:{{detailFlightData.fecha_salida}} hora salida:{{detailFlightData.hora_salida}}</p>
            <p>Llegada:{{detailFlightData.fecha_llegada}} hora llegada:{{detailFlightData.hora_llegada}}</p>
            <p>Escalas:{{detailFlightData.numero_escalas}}</p>
            <p>Duracion:{{detailFlightData.duracion}}</p>
            <p>Precio:{{detailFlightData.precio}}</p>
          </section>
          <button @click="seeFlightDetails=false">Cerrar</button>
        </div>
      </div>
    </div>
    <!-- Creamos contenedor para Billetes -->
    <div class="pantallabilletes" v-show="seeBilletes">
      <h2 class="titulopantalla">BILLETES</h2>
      <!-- Creamos buscador de billetes -->
      <h3>Buscador billetes</h3>
      <section class="contenedorbilletes">
        <label for="emailusuario" name="emailusuario">Email usuario</label>
        <input
          type="text"
          name="emailusuario"
          id="emailusuariobillete"
          placeholder="emailusuario"
          v-model="searchTicket.email_usuario"
        />
        <label for="idvuelo" name="idvuelo">Id vuelo</label>
        <input
          type="text"
          name="idvuelo"
          id="idvuelobillete"
          placeholder="idvuelobillete"
          v-model="searchTicket.email_usuario"
        />
        <label for="codigovuelo" name="codigovuelo">Codigo vuelo</label>
        <input
          type="text"
          name="codigovuelo"
          id="codigovuelobillete"
          placeholder="codigovuelo"
          v-model="searchTicket.codigo_vuelo"
        />
        <label for="fechasalida" name="fechasalida">Fecha salida</label>
        <input
          type="date"
          name="fechasalida"
          id="fechasalidabillete"
          placeholder="fecha salida"
          v-model="searchTicket.fecha_salida"
        />
      </section>
      <button @click="seeBilletes=false">Atras</button>
      <button @click="searchTicketEvent()">Buscar</button>
      <button @click="searchTicketEvent()">Todos</button>
      <!-- Listamos resultado de busqueda de billetes -->
      <ul class="resultadobusqueda" v-show="seeResultTicketSearch">
        <button v-show="seeResultTicketSearch" @click="seeResultTicketSearch=false">Limpiar busqueda</button>
        <li v-for="(billete,index) in listaBilletes" :key="billete.id">
          <p>Id:{{billete.id_billete}}</p>
          <p>Pasajero: {{billete.nombre_usuario}} {{billete.apellido_1_usuario}} {{billete.apellido_2_usuario}}</p>
          <p>{{billete.ciudad_aeropuerto_origen}} - {{billete.ciudad_aeropuerto_destino}} {{billete.fecha_salida}}, {{billete.hora_salida}}</p>

          <button @click="showTicketDetails(index)">Detalles</button>
        </li>
        <button @click="seeBilletes=false">Atras</button>
      </ul>

      <!-- Modal para detalles Billetes -->
      <div class="modal" v-show="seeTicketDetails">
        <div class="modalBox">
          <h2>Detalles del Billete</h2>
          <section class="detailcategory">
            <h3>Billete</h3>
            <p>Id:{{detailTicketData.id_billete}}</p>
            <p>Asiento:{{detailTicketData.asiento}}</p>
          </section>
          <section class="detailcategory">
            <h3>Usuario</h3>
            <p>Nombre: {{detailTicketData.nombre_usuario}} {{detailTicketData.apellido_1_usuario}} {{detailTicketData.apellido_2_usuario}}</p>
            <p>Email: {{detailTicketData.email}}</p>
            <p>Identificacion: {{detailTicketData.tipo_identificacion}} - {{detailTicketData.numero_identificacion}}</p>
          </section>
          <section class="detailcategory">
            <h3>Vuelo</h3>
            <p>Id:{{detailTicketData.id_vuelo}}</p>
            <p>Codigo:{{detailTicketData.codigo_vuelo}}</p>
            <p>Salida:{{detailTicketData.fecha_salida}} - {{detailTicketData.hora_salida}}</p>
            <p>Llegada:{{detailTicketData.fecha_llegada}} - {{detailTicketData.hora_llegada}}</p>
            <p>Escalas:{{detailTicketData.numero_escalas}}</p>
            <p>Duracion:{{detailTicketData.duracion}}</p>
            <p>Precio:{{detailTicketData.precio}}</p>
          </section>
          <section class="detailcategory">
            <h3>Aerolinea</h3>
            <p>Id:{{detailTicketData.id_aerolinea}}</p>
            <p>codigo:{{detailTicketData.codigo_aerolinea}}</p>
            <p>nombre:{{detailTicketData.nombre_aerolinea}}</p>
          </section>
          <section class="detailcategory">
            <h3>Aeropuerto origen</h3>
            <p>Id:{{detailTicketData.id_aeropuerto_origen}}</p>
            <p>Codigo:{{detailTicketData.codigo_aeropuerto_origen}}</p>
            <p>Nombre:{{detailTicketData.nombre_aeropuerto_origen}}</p>
            <p>Ciudad:{{detailTicketData.ciudad_aeropuerto_origen}}</p>
            <p>Pais:{{detailTicketData.pais_aeropuerto_origen}}</p>
          </section>
          <section class="detailcategory">
            <h3>Aeropuerto destino</h3>
            <p>Id:{{detailTicketData.id_aeropuerto_destino}}</p>
            <p>Codigo:{{detailTicketData.codigo_aeropuerto_destino}}</p>
            <p>Nombre:{{detailTicketData.nombre_aeropuerto_destino}}</p>
            <p>Ciudad:{{detailTicketData.ciudad_aeropuerto_destino}}</p>
            <p>Pais:{{detailTicketData.pais_aeropuerto_destino}}</p>
          </section>
          <button @click="seeTicketDetails=false">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  name: "profilebodyadmin",
  props: {
    usuario: Object,
    listaUsuarios: Array,
    editedUserFromAdmin: Object,
    searchUser: Object,
    listaAerolineas: Array,
    searchAirline: Object,
    newAirline: Object,
    editAirline: Object,
    listaAeropuertos: Array,
    searchAirport: Object,
    newAirport: Object,
    editAirport: Object,
    listaVuelos: Array,
    searchFlight: Object,
    listaBilletes: Array,
    searchTicket: Object
  },
  data() {
    return {
      seeMisDatos: false,
      seeUsuarios: false,
      seeAerolineas: false,
      seeAeropuertos: false,
      seeVuelos: false,
      seeBilletes: false,
      seeResultUserSearch: false,
      seeEditar: false,
      seeEditarOtroUsuario: false,
      seeResultAirlineSearch: false,
      seeEditarAerolinea: false,
      seeResultAirportSearch: false,
      seeEditarAeropuerto: false,
      seeResultFlightSearch: false,
      seeFlightDetails: false,
      detailFlightData: {},
      seeResultTicketSearch: false,
      seeTicketDetails: false,
      detailTicketData: {}
    };
  },
  methods: {
    /* EVENTO PARA ACTUALIZAR DATOS DEL ADMINISTRADOR */
    updateUserDataEvent() {
      this.seeMisDatos = false;
      this.$emit("actualizarDatosAdministrador");
    },
    /* OCULTA RESULTADOS DE LA BUSQUEDA */
    changeSeeUsersParameters() {
      this.seeUsuarios = true;
      this.seeResultUserSearch = false;
    },
    /* EVENTO PARA EDITAR LOS DATOS DE UN USUARIO DESDE ADMINISTRADOR*/
    editOtherUserEvent(index) {
      this.seeEditarOtroUsuario = true;
      this.$emit("editarOtroUsuario", index);
    },
    /* EVENTO PARA ACTUALIZAR LOS DATOS DE UN USUARIO DESDE ADMINISTRADOR*/
    updateOtherUserDataEvent() {
      this.seeEditarOtroUsuario = false;
      this.$emit("actualizarDatosOtroUsuario");
    },
    /* EVENTO PARA BORRAR UN USUARIO DESDE ADMINISTRADOR*/
    deleteOtherUserEvent(index) {
      this.seeUsuarios = false;
      this.$emit("eliminarOtroUsuario", index);
    },
    /* EVENTO PARA DESHABILITAR UN USUARIO DESDE ADMINISTRADOR*/
    disableOtherUserEvent(index) {
      this.seeUsuarios = false;
      this.$emit("deshabilitarOtroUsuario", index);
    },
    /* EVENTO PARA BUSCAR A UN USUARIO DESDE ADMINISTRADOR */
    searchUserEvent() {
      this.seeResultUserSearch = true;
      this.$emit("buscarUsuario");
    },
    /* OCULTA LOS RESULTADOS DE LA BUSQUEDA DE AEROLINEAS */
    changeSeeAirlinesParameteres() {
      this.seeAerolineas = true;
      this.seeResultAirlineSearch = false;
    },
    /* EVENTO PARA BUSCAR AEROLINEAS */
    searchAirlineEvent() {
      this.seeResultAirlineSearch = true;
      this.$emit("buscarAerolinea");
    },
    /* EVENTO PARA CREAR AEROLINEA */
    newAirlineEvent() {
      this.seeResultAirlineSearch = false;
      this.$emit("crearAerolinea");
    },
    /* EVENTO PARA PODER EDITAR AEROLINEA */
    editAirlineEvent(index) {
      this.seeEditarAerolinea = true;
      this.$emit("editarAerolinea", index);
    },
    /* EVENTO PARA ACTUALIZAR AEROLINEA */
    updateAirlineDataEvent() {
      this.seeEditarAerolinea = false;
      this.$emit("actualizarAerolinea");
    },
    /* EVENTO PARA DESHABILITAR UNA AEROLINEA */
    disableAirlineEvent(index) {
      this.$emit("deshabilitarAerolinea", index);
      this.seeResultAirlineSearch = false;
      this.changeSeeAirlinesParameteres();
    },
    /* EVENTO PARA HABILITAR UNA AEROLINEA */
    enableAirlineEvent(index) {
      this.$emit("habilitarAerolinea", index);
      this.seeResultAirlineSearch = false;
      this.changeSeeAirlinesParameteres();
    },
    /* EVENTO PARA BORRAR UNA AEROLINEA */
    deleteAirlineEvent(index) {
      this.$emit("eliminarAerolinea", index);
      this.seeResultAirlineSearch = false;
      this.changeSeeAirlinesParameteres();
    },
    /* OCULTA LOS RESULTADOS DE LA BUESQUEDA DE AEROPUERTOS */
    changeSeeAirportsParameteres() {
      this.seeAeropuertos = true;
      this.seeResultAirportSearch = false;
    },
    /* EVENTO PARA BUSCAR AEROPUERTOS */
    searchAirportEvent() {
      this.seeResultAirportSearch = true;
      this.$emit("buscarAeropuerto");
    },
    /* EVENTO PARA CREAR AEROPUERTO */
    newAirportEvent() {
      this.seeResultAirportSearch = false;
      this.$emit("crearAeropuerto");
    } /* EVENTO PARA PODER EDITAR AEROPUERTO */,
    editAirportEvent(index) {
      this.seeEditarAeropuerto = true;
      this.$emit("editarAeropuerto", index);
    },
    /* EVENTO PARA ACTUALIZAR AEROPUERTO */
    updateAirportDataEvent() {
      this.seeEditarAeropuerto = false;
      this.$emit("actualizarAeropuerto");
    },
    /* EVENTO PARA DESHABILITAR UN AEROPUERTO */
    disableAirportEvent(index) {
      this.$emit("deshabilitarAeropuerto", index);
      this.seeResultAirportSearch = false;
      this.changeSeeAirportsParameteres();
    },
    /* EVENTO PARA HABILITAR UN AEROPUERTO */
    enableAirportEvent(index) {
      this.$emit("habilitarAeropuerto", index);
      this.seeResultAirportSearch = false;
      this.changeSeeAirportsParameteres();
    },
    /* EVENTO PARA ELIMINAR UN AEROPUERTO */
    deleteAirportEvent(index) {
      this.$emit("eliminarAeropuerto", index);
      this.seeResultAirportSearch = false;
      this.changeSeeAirportsParameteres();
    },
    /* OCULTA LOS RESULTADOS DE LA BUSQUEDA DE VUELOS */
    changeSeeFlightsParameteres() {
      this.seeVuelos = true;
      this.seeResultFlightSearch = false;
    },
    /* EVENTO DE BUSQUEDA DE VUELOS */
    searchFlightEvent() {
      this.seeResultFlightSearch = true;
      this.$emit("buscarVuelo");
    },
    /* MUESTRA LOS DETALLES DE UN VUELO */
    showFlightDetails(index) {
      this.seeFlightDetails = true;
      this.detailFlightData = this.listaVuelos[index];
    },
    addNewFlightsEvent() {
      this.$emit("nuevalistadevuelos");
    },

    /* OCULTA LOS RESULTADOS DE LA BUSQUEDA DE BILLETES */
    changeSeeTicketsParameteres() {
      this.seeBilletes = true;
      this.seeResultTicketSearch = false;
    },
    /* EVENTO PARA BUSCAR BILLETES */
    searchTicketEvent() {
      this.seeResultTicketSearch = true;
      this.$emit("buscarBillete");
    },
    /* MUESTRA LOS DETALLES DE UN BILLETE */
    showTicketDetails(index) {
      this.seeTicketDetails = true;
      this.detailTicketData = this.listaBilletes[index];
    }
  }
};
</script>

<style scoped>
::-webkit-scrollbar {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: scroll;
}

.modalBox {
  background: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.botonespeligrosos {
  background-color: var(--botonespeligrosos);
  color: var(--azuloscuro);
}

.titulopantalla {
  margin: 1rem auto;
}
.botonesadmin {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.botonesadmin button {
  min-width: 100px;
  background: rgba(22, 61, 112, 0.6);
}
.detailcategory {
  background-color: rgba(192, 242, 247, 0.5);
}
.mostrardatos {
  min-height: 75vh;
}
#pantallausuarios {
  min-height: 75vh;
}
.pantallaaerea {
  min-height: 70vh;
}
.pantallavuelos {
  margin-top: 2rem;
  min-height: 75vh;
}
.pantallabilletes {
  margin-top: 2rem;
  min-height: 70vh;
}
#searchuser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userdatasearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.1rem;
}
.resultadobusqueda {
  padding: 1rem;
}
.resultadobusqueda li {
  background-color: rgba(255, 255, 255, 0.5);
}
.nombreidentificacion {
  display: flex;
  flex-direction: column;
}
.direccion {
  display: flex;
  flex-direction: column;
}
.contenedoraereo {
  margin-top: 2rem;
}
.creadoraereo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.creadoraereo label {
  justify-self: right;
}
.buscadoraereo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorvuelos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secciondatos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secciondatossintitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.contenedorbilletes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .botonesadmin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .botonesadmin button {
    font-size: 2rem;
  }

  .searchbutton {
    margin: 2rem;
  }
  .backbutton {
    margin: 2rem;
  }
  .nombreidentificacion {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nombreidentificacion label {
    justify-self: right;
  }
  .direccion {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .direccion label {
    justify-self: right;
  }
  .contenedoraereo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .creadoraereo {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .creadoraereo input {
    margin: 0.5rem;
  }
  .buscadoraereo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .formularioaereo {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  #botones {
    align-self: center;
  }
}
@media (min-width: 560px) {
  #searchuser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .userdatasearch {
    display: flex;
    flex-direction: column;
  }
  .contenedorvuelos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 800px) {
  .formulariopersonales {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contenedorvuelos {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-start;
  }
  #botones {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .secciondatossintitulo {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .secciondatossintitulo label {
    justify-self: right;
  }
}
</style>