<template>
  <!-- SALUDO Y MOSTRAMOS FOTO E EMAIL DEL USUARIO -->
  <div class="cabeceraperfil">
    <h2>Bienvenid@ {{usuario.nombre}}</h2>
    <img :src="fotoUsuario" alt="Foto de usuario" />
    <p>{{usuario.email}}</p>
  </div>
</template>

<script>
export default {
  name: "profileheader",
  props: {
    usuario: Object,
    fotoUsuario: String
  }
};
</script>

<style scope>
.cabeceraperfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  margin-top: 3rem;
}
h2 {
  font-style: normal;
}
img {
  max-width: 250px;
  max-height: 250px;
}
</style>