<template>
  <div class="cuerpoperfil">
    <!-- Contenedor para los botones de acceso a las distintas partes del perfil -->
    <div class="presentacionbody" v-show="!seeDatosPersonales && !seeDatosRegistro">
      <button @click="seeDatosPersonales=true">Datos personales</button>
      <button @click="seeDatosRegistro=true">Datos de registro</button>
      <button @click="showHistoryEvent()">Historial</button>
    </div>
    <!-- Contenedor para ver y editar datos personales -->

    <!-- MODAL PARA EDITAR DATOS PERSONALES -->
    <div v-show="seeDatosPersonales && !seeDatosRegistro && !seeDatosHistorial" class="modal">
      <div class="modalBox">
        <h2>Actualiza tus datos</h2>
        <form id="formulariopersonales">
          <section id="nombreidentificacion">
            <label for="nombre" name="nombre">Nombre</label>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="nombre"
              v-model="usuario.nombre"
            />

            <label for="apellido_1" name="apellido_1">Apellido 1</label>
            <input
              type="text"
              name="apellido_1"
              id="apellido_1"
              placeholder="apellido_1"
              v-model="usuario.apellido_1"
            />

            <label for="apellido_2" name="apellido_2">Apellido 2</label>
            <input
              type="text"
              name="apellido_2"
              id="apellido_2"
              placeholder="apellido_2"
              v-model="usuario.apellido_2"
            />

            <label for="tipo_identificacion" name="tipo_identificacion">Tipo identificacion</label>
            <input
              type="text"
              name="tipo_identificacion"
              id="tipo_identificacion"
              placeholder="tipo_identificacion"
              v-model="usuario.tipo_identificacion"
            />

            <label for="numero_identificacion" name="numero_identificacion">Num. identificacion</label>
            <input
              type="text"
              name="numero_identificacion"
              id="numero_identificacion"
              placeholder="numero_identificacion"
              v-model="usuario.numero_identificacion"
            />
            <label for="telefono" name="telefono">Telefono</label>
            <input
              type="tel"
              name="telefono"
              id="telefono"
              placeholder="telefono"
              v-model="usuario.telefono"
            />
          </section>
          <section id="direccion">
            <label for="direccion" name="direccion">Direccion</label>
            <input
              type="text"
              name="direccion"
              id="direccion"
              placeholder="direccion"
              v-model="usuario.direccion"
            />

            <label for="codigo_postal" name="codigo_postal">Codigo postal</label>
            <input
              type="text"
              name="codigo_postal"
              id="codigo_postal"
              placeholder="codigo_postal"
              v-model="usuario.codigo_postal"
            />

            <label for="ciudad" name="ciudad">Ciudad</label>
            <input
              type="text"
              name="ciudad"
              id="ciudad"
              placeholder="ciudad"
              v-model="usuario.ciudad"
            />

            <label for="provincia" name="provincia">Provincia</label>
            <input
              type="text"
              name="provincia"
              id="provincia"
              placeholder="provincia"
              v-model="usuario.provincia"
            />

            <label for="pais" name="pais">Pais</label>
            <input type="text" name="pais" id="pais" placeholder="pais" v-model="usuario.pais" />

            <label for="fecha_nacimiento" name="fecha_nacimiento">Fecha nacimiento*</label>
            <input
              type="date"
              name="fecha_nacimiento"
              id="fecha_nacimiento"
              v-model="usuario.fecha_nacimiento"
            />
          </section>
        </form>
        <button @click="seeDatosPersonales=false">Cancelar</button>
        <button @click="updateUserDataEvent()">Guardar Cambios</button>
      </div>
    </div>
    <!-- MODAL PARA EDITAR DATOS REGISTRO -->
    <div v-show="seeDatosRegistro && !seeDatosHistorial" class="modal">
      <div class="modalBox">
        <h2>Editar datos registro</h2>
        <section id="datosregistro">
          <section id="pass">
            <h3>Modificar contraseña</h3>
            <form>
              <label for="oldpassword" name="oldpassword">Actual*</label>
              <input
                type="password"
                name="oldpassword"
                id="oldpassword"
                placeholder="Contraseña actual"
                v-model="oldPassword"
              />

              <label for="newpassword" name="newpassword">Nueva*</label>
              <input
                type="password"
                name="newpassword"
                id="newpassword"
                placeholder="Nueva contraseña"
                v-model="newPassword"
              />

              <label for="confirmnewpassword" name="confirmnewpassword">Repite*</label>
              <input
                type="password"
                name="confirmnewpassword"
                id="confirmnewpassword"
                placeholder="Confirma nueva contraseña"
                v-model="confirmNewPassword"
              />
            </form>
            <button @click="updatePasswordEvent(oldPassword,newPassword)">Actualizar</button>
          </section>
          <section id="disableuser">
            <h3>Deshabilitar cuenta</h3>
            <p>¿Quieres deshabilitar tu cuenta?</p>
            <button class="botonespeligrosos" @click="disableUserAccountEvent()">Suspender</button>
            <p>Te estaremos esperando por si quieres volver</p>
          </section>
          <section id="avatar">
            <h3>Modificar avatar</h3>
            <img id="fotoactualedicion" :src="fotoUsuario" alt="Foto actual usuario" />

            <input
              type="file"
              name="nuevafotoperfil"
              id="nuevafotoperfil"
              ref="nuevafotoperfil"
              @change="getFilePhoto()"
            />
            <button @click="updateUserPhotoEvent(nuevaFotoUsuario)">Actualizar</button>
          </section>
        </section>
        <button @click="seeDatosRegistro=false">Cancelar</button>
      </div>
    </div>
    <!-- MODAL PARA VER HISTORIAL VUELOS USUARIO-->
    <div v-show="seeDatosHistorial && !seeDetalleVuelo" class="modal">
      <div class="modalBox">
        <section id="historial">
          <h3>Este es tu historial de vuelos en Meuvoo</h3>
          <ul id="listahistorial">
            <li v-for="(vuelo, index) in historialVuelosUsuario" :key="vuelo.id">
              <p>De {{vuelo.ciudad_origen}} a {{vuelo.ciudad_destino}} el {{vuelo.fecha_salida}}</p>
              <button id="detailsbutton" @click="showDetails(index)">Detalles</button>
            </li>
          </ul>
          <button id="backbutton" @click="seeDatosHistorial=false">Volver</button>
        </section>
      </div>
    </div>
    <!-- MODAL PARA VER DETALLE DE VUELO-->
    <div v-show="seeDetalleVuelo" class="modal">
      <div class="modalBox">
        <section class="detailcategory">
          <h2>Detalles del vuelo</h2>
          <p>Vuelo: {{vuelo.aerolinea}} {{vuelo.codigo_vuelo}}</p>
          <p>Origen: {{vuelo.ciudad_origen}} ({{vuelo.origen}})</p>
          <p>Destino: {{vuelo.ciudad_destino}} ({{vuelo.destino}})</p>
          <p>Salida: {{vuelo.fecha_salida}} a las {{vuelo.hora_salida}}</p>
          <p>Llegada: {{vuelo.fecha_llegada}} a las {{vuelo.hora_llegada}}</p>
        </section>
        <button @click="seeDetalleVuelo=false">Volver</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
/* IMPORTAMOS FUNCION AUXILIAR PARA RECOGER INFORMACION DEL TOKEN */
import { getFromToken } from "../helpers/helpers";
export default {
  name: "profilebodyuser",
  props: {
    usuario: Object,
    fotoUsuario: String,
    historialVuelosUsuario: Array
  },
  data() {
    return {
      seeDatosPersonales: false,
      seeDatosRegistro: false,
      oldPassword: "",
      newPassword: "",
      confirmNewPassword: "",
      correctDataPassword: false,
      nuevaFotoUsuario: "",
      seeDatosHistorial: false,
      seeDetalleVuelo: false,
      vuelo: {}
    };
  },
  methods: {
    /* EVENTO PARA ACTUALIZAR DATOS PERSONALES DEL USUARIO */
    updateUserDataEvent() {
      this.$emit("actualizarDatosPersonales");
      this.seeDatosPersonales = false;
    },
    /* EVENTO PARA ACTUALIZAR CONTRASEÑA DEL USUARIO */
    updatePasswordEvent(oldPassword, newPassword) {
      this.validatingNewPassword();
      if (this.correctDataPassword) {
        if (this.newPassword === this.confirmNewPassword) {
          this.$emit("actualizarPassword", oldPassword, newPassword);
          this.seeDatosRegistro = false;
          this.oldPassword = "";
          this.newPassword = "";
          this.confirmNewPassword = "";
        } else {
          Swal.fire({
            title: "ERROR",
            text: "Las nuevas contraseñas no son iguales",
            confirmButtonColor: "var(--azuloscuro)",
            confirmButtonText: "ACEPTAR"
          });
        }
      } else {
        Swal.fire({
          title: "ERROR",
          text: "Has dejado algún dato en blanco",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      }
    },
    /* VALIDACION DE DATOS PARA CAMBIAR CONTRASEÑA */
    validatingNewPassword() {
      if (
        this.oldPassword === "" ||
        this.newPassword === "" ||
        this.confirmNewPassword === ""
      ) {
        this.correctDataPassword = false;
      } else {
        this.correctDataPassword = true;
      }
    },
    /* IMPORTAR NUEVA FOTO DE USUARIO DESDE INPUT */
    getFilePhoto() {
      this.nuevaFotoUsuario = this.$refs.nuevafotoperfil.files[0];
    },
    /* EVENTO PARA ACTUALIZAR FOTO DE USUARIO */
    updateUserPhotoEvent(newPhoto) {
      if (!!!newPhoto) {
        Swal.fire({
          title: "ATENCION",
          text: "No has cargado ninguna foto.",
          confirmButtonColor: "var(--azuloscuro)",
          confirmButtonText: "ACEPTAR"
        });
      } else {
        this.$emit("actualizarFoto", newPhoto);
        this.seeDatosRegistro = false;
      }
    },
    /* EVENTO PARA MOSTRAR EL HISTORIAL DE LOS VUELOS DEL USUARIO */
    showHistoryEvent() {
      this.seeDatosHistorial = true;
      this.$emit("historial");
    },
    /* MUESTRA DETALLE DE UN VUELO DEL HISTORIAL DEL USUARIO */
    showDetails(index) {
      this.vuelo = this.historialVuelosUsuario[index];
      this.seeDetalleVuelo = true;
    },
    /* EVENTO PARA DESHABILITAR CUENTA DE USUARIO */
    disableUserAccountEvent() {
      this.$emit("deshabilitarcuenta");
    }
  }
};
</script>

<style scoped>
::-webkit-scrollbar {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  overflow: scroll;
}
.modalBox {
  background: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.detailcategory {
  background-color: rgba(192, 242, 247, 0.5);
  padding: 1rem;
}
.cuerpoperfil {
  min-height: 20vh;
  display: flex;
  justify-content: center;
}
#fotoactualedicion {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 3rem;
}
#nombreidentificacion {
  display: flex;
  flex-direction: column;
}
#direccion {
  display: flex;
  flex-direction: column;
}
#pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 242, 247, 0.5);
  margin: 0.5rem;
}
#disableuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 242, 247, 0.5);
  margin: 0.5rem;
}
#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 242, 247, 0.5);
  margin: 0.5rem;
}
#historial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#listahistorial {
  display: flex;
  flex-direction: column;
}
#backbutton {
  align-self: center;
}
#detailsbutton {
  padding: 0 1rem;
}
.botonespeligrosos {
  background-color: var(--botonespeligrosos);
  color: var(--azuloscuro);
}
li {
  background-color: rgba(192, 242, 247, 0.5);
  margin: 0.2rem;
  padding: 0 1rem;
}
@media (min-width: 500px) {
  #nombreidentificacion {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  #nombreidentificacion label {
    justify-self: right;
  }
  #direccion {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  #direccion label {
    justify-self: right;
  }
  #listahistorial p {
    display: inline-block;
  }
}
@media (min-width: 800px) {
  #formulariopersonales {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  #datosregistro {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
  }
}
</style>
